
<div>
    <a onclick="openmodel('RPT_JOBORDERPROCESSING');"><i class="fa fa-eye"></i></a>
    <a>JOB ORDER PROCESSING Report</a>
</div>
<div>
    <a onclick="openmodel('RPT_MANUFACTURING');"><i class="fa fa-eye"></i></a>
    <a>MANUFACTURING Report</a>
</div>
<div>
    <a onclick="openmodel('RPT_JOBSLIT');"><i class="fa fa-eye"></i></a>
    <a>SLIT Report</a>
</div> 
<div>
    <a onclick="openmodel('RPT_JOBPACKING');"><i class="fa fa-eye"></i></a>
    <a>PACKING Report</a>
</div> 
<div>
    <a onclick="openmodel('APP_JOB_JobReceipt');"><i class="fa fa-eye"></i></a>
    <a>App Job Receipt</a>
</div> 
<div>
    <a onclick="openmodel('APP_JOB_JobMaterialTransactions');"><i class="fa fa-eye"></i></a>
    <a>JobMaterial Transactions</a>
</div> 