<div class="row">
    <div class="col-lg-2" >   
        <div class="input-group">
            <div class="input-group-addon">Date</div>
            <input type="text" autocomplete="off"  class="form-control txt-filter" id="txtFromDate">
        </div>
    </div>
    <div class="col-lg-2">   
        <div class="input-group">
            <div class="input-group-addon">To date</div>
            <input type="text" autocomplete="off"  class="form-control txt-filter" id="txtToDate">
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 " >
        <button id="btnSearch" class="btn btn-info"><i class="fa fa-chart-bar"></i>&nbsp;Search </button>
    </div>
</div>
<div class="row">
    <table class="table table-condensed table-bordered table-striped" id="tblReport" >
        <thead>
            <tr>
                <th>Country Name</th>
                <th>Summary KG</th>
                <th>Summary Amount (THB)</th>
            </tr>               
        </thead>
    </table>
</div>
<script type="text/javascript">
    $("#txtFromDate,#txtToDate").datepicker({
        dateFormat: 'yy-mm-dd',
    });
    $("#btnSearch").click(function () {
        var tblReportId = '#tblReport';
        var btnSearch = '#btnSearch';
        SearchDataFooterFn(tblReportId, btnSearch, tablecolumsArr, "Exports by Group Country", "ajax_by_country");
        RowFooterBuild(tblReportId);
    });
    function footerCallback(api) {
        $(api.column(0).footer()).html("<b>TOTAL</b>");
        ColumnSumVal(1, api)
        ColumnSumVal(2, api)
    }
    tablecolumsArr = [
        {
            "data": "country",
            "className": "text-center",
        },
        {
            "data": "QtyKG",
            "className": "text-right",
            "render": function (data, type, row, meta) {
                var ret = addCommas(parseFloat(data).toFixed(2));
                return ret;
            }
        },
        {
            "data": "AmountTHB",
            "className": "text-right",
            "render": function (data, type, row, meta) {
                var ret = addCommas(parseFloat(data).toFixed(2));
                return ret;
            }
        },
    ];
</script>