
<div class="row text-center">
    <div class="col-md-4 text-right" style="padding-top:5px;">
        Old password : 
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="oldPass">
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4 text-right" style="padding-top:5px;">
        New password : 
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="newPass" maxlength="32">
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4 text-right" style="padding-top:5px;" >
        Confirm new password : 
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="confPass" maxlength="32">
    </div>
</div>
<div class="row text-center">
    <button id="btnSavePassword" class="btn btn-success">Change Password</button>
</div>
<script type="text/javascript">
    var OldPass = "{oldPass}";
    var UserId = "{userId}";
    console.log("id : " + UserId + " old pass" + OldPass);
    $("#btnSavePassword").click(function () {
        var newPass = $("#newPass").val();
        var oldPass = $("#oldPass").val();
        var confPass = $("#confPass").val();
        if (newPass.length <= 4) {
            $.alert({
                title: ":: Warning",
                content: " Please input new password 4-32 charactors "
            });
        } else {
            if (newPass != confPass) {
                $.alert({
                    title: ":: Warning",
                    content: " Please confirm new password  "
                });
            }
        }
    });
    function CheckOldPass(){
        
    }
</script>