<style>
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 0px; 
        padding-left: 0px; 
    }
    body {
        background: rgb(204,204,204); 
    }
    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    @media print {
        body, page[size="A4"] {
            margin: 0;
            box-shadow: 0;
        }
    }
    .logo{
        padding: 10px;
        text-align:center;
    }
    .title-header{
        text-align:center;
    }
    .page-padding{
        padding:50px;
    }
    .line-header{
        margin-top: 5px;
    }
    .font-bold{
        font-weight: bold;
    }
    .text-blog{
        overflow-wrap: break-word;
    }
    .unit-text{
        padding-left: 15px;
    }
    .detail-summary .col-sm-6 .col-sm-4{
        height: 200px;
    }
    .detail-summary .col-sm-4{
        padding-top: 80px;
    }


</style>

<page size="A4">
    <div class="page-padding">
        <div>
            <div class="logo" >
                <img style="width:200px" src="template/RPT_COMMERCIAL_INVOICES_PRINTPREVIEW/sahathai-terminal.png" alt=""/>
            </div>
            <div class="title-header">
                SAHA THAI STEEL PIPE PCL. 78 Moo 3, Poocho, Bangyapreak, Phapadaeng, Samutprakran 10130 Thailand
            </div>
            <div class="title-header">
                Tel: +66(0) 2385 9023 Fax: +66(0) 2754 4100 Www.sahathai.com
            </div>
        </div>
        <hr class="line-header">
        <div class="title-header">
            <u>COMMERCIAL INVOICES</u>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-9">
                <div class="row">
                    <div>
                        <div class="col-sm-3">
                            SOLD TO:
                        </div>
                        <div class="col-sm-6 text-blog" >
                            MPS,LLC,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div>
                        <div class="col-sm-3">
                            TERM:
                        </div>
                        <div class="col-sm-6 text-blog">
                            By T/T PAYMENTxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="col-sm-3">
                            SHIPPED FROM:
                        </div>
                        <div class="col-sm-6 text-blog">
                            xxxxxxxxxxxxxxxxxxxxxxxxxx
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="col-sm-3">
                            To :
                        </div>
                        <div class="col-sm-6 text-blog">
                            OKKLAND
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="col-sm-3">
                            By :
                        </div>
                        <div class="col-sm-6 text-blog">
                            AREOPxxxxxxxxxxxx
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="col-sm-4">
                            SHIPPED TEAM:
                        </div>
                        <div class="col-sm-6 text-blog">
                            xxxxxxxxx
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                sdfgsdfg
            </div>
        </div>
        <div>
            <div class="row">
                <div>
                    DESCRIPTION OF GOODS AND/OR SERVICES:
                </div>
            </div>
            <div class="text-blog">
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </div>
        </div>
        <div class="row">
            <div class="text-blog">
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </div>
        </div>
        <div class="col-sm-12 detail-summary">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">PACKED</div>
                    <div class="col-sm-3 text-center">=</div>
                    <div class="col-sm-3 text-right"> 108</div>
                    <div class="col-sm-3 unit-text">BUNDLES.</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">PACKED</div>
                    <div class="col-sm-3 text-center">=</div>
                    <div class="col-sm-3 text-right"> 108</div>
                    <div class="col-sm-3 unit-text">BUNDLES.</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">PACKED</div>
                    <div class="col-sm-3 text-center">=</div>
                    <div class="col-sm-3 text-right"> 108</div>
                    <div class="col-sm-3 unit-text">BUNDLES.</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">PACKED</div>
                    <div class="col-sm-3 text-center">=</div>
                    <div class="col-sm-3 text-right"> 108</div>
                    <div class="col-sm-3 unit-text">BUNDLES.</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">PACKED</div>
                    <div class="col-sm-3 text-center">=</div>
                    <div class="col-sm-3 text-right"> 108</div>
                    <div class="col-sm-3 unit-text">BUNDLES.</div>
                </div>
            </div> 
            <div class="col-sm-6">
                <div class="col-sm-4">
                    ToTAL VALUE
                </div>
                <div class="col-sm-4">
                    USD
                </div>
                <div class="col-sm-4">
                    72406.61
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                ..................................................
            </div>
            <div class="row">
                SAHA THAI STEEL PIPE PCL.
            </div>
        </div>

        <div>
            <div class="col-sm-8 well text-blog">
                NOTICE :
                ANY COMPLAINT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </div>
        </div>
    </div>
</page>

<page size="A4">
    <div class="page-padding">
        <div>
            <div class="logo" >
                <img style="width:200px" src="template/RPT_COMMERCIAL_INVOICES_PRINTPREVIEW/sahathai-terminal.png" alt=""/>
            </div>
            <div class="title-header">
                SAHA THAI STEEL PIPE PCL. 78 Moo 3, Poocho, Bangyapreak, Phapadaeng, Samutprakran 10130 Thailand
            </div>
            <div class="title-header">
                Tel: +66(0) 2385 9023 Fax: +66(0) 2754 4100 Www.sahathai.com
            </div>
        </div>
        <div class="title-header">
            <u>COMMERCIAL INVOICES</u>
        </div>
        <div class="col-sm-12">
        </div>
        <div>
            PAGE 2
        </div>
        <div>
            NO. EX190660013
        </div>
        <div>
            PO NO. P165911/W5479-451
        </div>
        <div class="table">
            data table
        </div>
</page>