<div class="row" style="border-bottom:solid 1px #e8e8e8;">  
    <div class="row">
        <h3 style="padding-left:5px;">Stock Order Planning</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-search">
        <div class="input-group">
            <div class="input-group-addon">Do_num</div>
            <input type="text" class="form-control txt-filter" id="BY_DO">
        </div>
    </div>

    <div class="col-lg-1 col-md-2 col-sm-1 col-xs-6  col-search">
        <button id="BtnSearchCO" class="btn btn-info"><i class="fa fa-search"></i>Search</button>
    </div>
</div>

    <div class="row" id="divReportByCO">
        <table class="table table-condensed table-bordered table-striped" id="tblReportByCO">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>item</th>
                    <th>do_num</th>
                    <th>co_num</th>
                    <th>co_line</th>
                    <th>due_date</th>
                    <th>STS_PO</th>
                    <th>qty_ordered</th>
                    <th>qty_shipped_CO</th>
                    <th>qty_DO</th>
                    <th>qty_shipped_DO</th>
                    <th>qty_ready</th>
                    <th>qty_need</th>
                    <th>job_ready</th>

                </tr>
        </table>
    </div>

<script type="text/javascript">

    $("#BtnSearchCO").click(function () {
            ReportAllSearch();
        });


    function ReportAllSearch() {
    var OldHtml = $("#BtnSearchCO").html();
    var DO = $("#BY_DO").val();

    // if (DO == "") {
    //     $.alert("กรุณากรอกข้อมูล");
    // } else {
        $.ajax({
            type: 'POST',
            url: "././module/RPT_Stock_Order_Planning/data.php",
            dataType: 'json',
            beforeSend: function () {
                $("#BtnSearchCO").html("<i class='fa fa-spinner fa-spin'>");
            },
            data: {
                "load": "BY_DO",
                "DO": DO,
            },
            success: function (data) {
                console.log(data)

                $("#tblReportByCO").DataTable().clear();
                    var RowFooterBuild = "";
                    var ColBuild = "";
                    var ColCount = 14;
                    var i = 0;
                    RowFooterBuild = "<tfoot><tr>!!ColBuild!!</tr></tfoot>";
                    for (i = 1; i <= ColCount; i++) {
                        ColBuild += "<td></td>";
                    }
                    $("#tblReportByCO").append(RowFooterBuild.replace("!!ColBuild!!", ColBuild));

                $("#tblReportByCO").dataTable().fnDestroy();
                var table = $('#tblReportByCO').DataTable({
                    scrollY: "400px",
                    "scrollX": true,
                    scrollCollapse: true,
                    "aaData": data,
                    "paging": false,
//                        fixedColumns: {
//                            leftColumns: 1,
//                        },
                    "searching": false,
                    "bInfo": false,

                    "columns": [
                        {
                        "data": "STS_PO",
                        "className": "text-center",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                        },
                        {"data": "item",
                            "className": "text-center",
                        },
                        {"data": "do_num",
                            "className": "text-center",
                        },
                        {"data": "co_num",
                            "className": "text-center",
                        },
                        {"data": "co_line",
                            "className": "text-center",
                        },
                        {"data": "Due_Date",
                            "className": "text-center",
                        },
                        {"data": "STS_PO",
                            "className": "text-center",
                        },
                        {"data": "qty_ordered",
                            "className": "text-left",
                            "render": function (data, type, row, meta) {
                            var ret = new Intl.NumberFormat("en-US").format(Math.floor(data))
                            return ret;
                        }
                        },
                        {"data": "qty_shipped_CO",
                            "className": "text-left",
                            "render": function (data, type, row, meta) {
                            if (data < 0){
                                var ret = `<span style="color: red;">${new Intl.NumberFormat("en-US").format(Math.floor(data))}</span>`
                            }
                            else{
                                var ret = new Intl.NumberFormat("en-US").format(Math.floor(data))
                            }
                            return ret;
                        }
                        },
                        {"data": "qty_DO",
                            "className": "text-left",
                            "render": function (data, type, row, meta) {
                            if (data < 0){
                                var ret = `<span style="color: red;">${new Intl.NumberFormat("en-US").format(Math.floor(data))}</span>`
                            }
                            else{
                                var ret = new Intl.NumberFormat("en-US").format(Math.floor(data))
                            }
                            return ret;
                        }
                        },
                        {"data": "qty_shipped_DO",
                            "className": "text-left",
                            "render": function (data, type, row, meta) {
                            if (data < 0){
                                var ret = `<span style="color: red;">${new Intl.NumberFormat("en-US").format(Math.floor(data))}</span>`
                            }
                            else{
                                var ret = new Intl.NumberFormat("en-US").format(Math.floor(data))
                            }
                            return ret;
                        }
                        },
                        {"data": "qty_ready",
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                            if (data < 0){
                                var ret = `<span style="color: red;">${new Intl.NumberFormat("en-US").format(Math.floor(data))}</span>`
                            }
                            else{
                                var ret = new Intl.NumberFormat("en-US").format(Math.floor(data))
                            }
                            return ret;
                        }
                        },
                        {"data": "qty_need",
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                            if (data < 0){
                                var ret = `<span style="color: red;">${new Intl.NumberFormat("en-US").format(Math.floor(data))}</span>`
                            }
                            else{
                                var ret = new Intl.NumberFormat("en-US").format(Math.floor(data))
                            }
                            return ret;
                        }
                        },
                        {"data": "job_ready",
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                            if (data < 0){
                                var ret = `<span style="color: red;">${new Intl.NumberFormat("en-US").format(Math.floor(data))}</span>`
                            }
                            else{
                                var ret = new Intl.NumberFormat("en-US").format(Math.floor(data))
                            }
                            return ret;
                        }
                        }
                    ],
                    'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                            "<'row'<'col-md-12'tr>>" +
                            "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
                    buttons: [
                        {
                            extend: 'print',
                            text: "<i class='fa fa-print'></i>&nbsp;Print",
                            title: ''
                        },
                        {
                            extend: 'excel',
                            text: "<i class='fa fa-file-excel'></i>&nbsp;Excel&nbsp;",
                            title: `ReportByCo`,
                            customize: function (xlsx) {
                                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                var numrows = 2;
                            }
                        },
                    ],
                //     "footerCallback": function (row, data, start, end, display) {
                //             var api = this.api(),
                //                     data;

                //             // converting to interger to find total
                //             var intVal = function (i) {
                //                 return typeof i === 'string' ?
                //                         i.replace(/[\$,]/g, '') * 1 :
                //                         typeof i === 'number' ?
                //                         i : 0;
                //             };

                //             // computing column Total of the complete result
                //             var qty_ordered = api
                //                     .column(6)
                //                     .data()
                //                     .reduce(function (a, b) {
                //                         return intVal(a) + intVal(b);
                //                     }, 0);

                //             var qty_shipped = api
                //                     .column(7)
                //                     .data()
                //                     .reduce(function (a, b) {
                //                         return intVal(a) + intVal(b);
                //                     }, 0);

                //             var qty_ready = api
                //                     .column(8)
                //                     .data()
                //                     .reduce(function (a, b) {
                //                         return intVal(a) + intVal(b);
                //                     }, 0);

                //             var qty_need = api
                //                     .column(9)
                //                     .data()
                //                     .reduce(function (a, b) {
                //                         return intVal(a) + intVal(b);
                //                     }, 0);

                //             $(api.column(6).footer()).html(addCommas(qty_ordered.toFixed(2)));
                //             $(api.column(7).footer()).html(addCommas(qty_shipped.toFixed(2)));
                //             $(api.column(8).footer()).html(addCommas(qty_ready.toFixed(2)));
                //             $(api.column(9).footer()).html(addCommas(qty_need.toFixed(2)));
                //         },
                });
                $('#tblReportByCO').loading("stop");
                $("#BtnSearchCO").html("<i class='fa fa-search'></i>Search");
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });
    }
// }
</script>