<style>
    .col-search{
        padding-left:3px;
        padding-right:3px;
    }
    .table thead th{
        text-align: center;
    }

    .col-flt-page{
        padding-top:10px;
        font-weight: bold;
    }

    #tblReport tbody tr td a {
        cursor: pointer ;
    }
    table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {
        background-color: white;
        margin-top: 50px !important;
        margin-bottom: 0 !important;
    }
</style>
<div class="row">
    <h4> รายงานประวัติการขายแยกตามสินค้า</h4>
</div>

<div class='row' style="padding-left:5%;">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12  col-search">
        <div class="input-group">
            <div class="input-group-addon">Item</div>
            <input type="text" class="form-control txt-filter" id="txtItem">
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 col-search">
        <div class="input-group">
            <div class="input-group-addon">ขนาด</div>
            <input type="text" class="form-control txt-filter" id="txtSize">
        </div>
    </div>
    <div class="col-lg-2  col-md-2 col-sm-6 col-xs-12 col-search">
        <div class="input-group">
            <div class="input-group-addon">หนา</div>
            <input type="text" class="form-control txt-filter" id="txtThick">          
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12  col-search">
        <div class="input-group">
            <div class="input-group-addon">ยาว</div>
            <input type="text" class="form-control txt-filter" id="txtWidth">
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12  col-search">
        <div class="input-group">
            <div class="input-group-addon">ชื่อลูกค้า</div>
            <input type="text" class="form-control txt-filter" id="txtCustName">
        </div>
    </div>

</div>


<div class="row" style="padding-left:5%;">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12  col-search">
        <div class="input-group">
            <div class="input-group-addon">From date</div>
            <input type="text" class="form-control txt-filter" id="txtFromDate">
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12  col-search">
        <div class="input-group">
            <div class="input-group-addon">To date</div>
            <input type="text" class="form-control txt-filter" id="txtToDate">
        </div>
    </div>
    <div class=" col-lg-5 col-md-5 col-sm-10 col-xs-10  text-right" style="font-size:10px;color:red;">
        *เลือกความ หนา-ยาว ตามช่วงให้ใช้ '-' เช่น เลือกตั้งแต่ 1 ถึง 6 ให้ใส่ '1-6' แต่ถ้าหากระบุ 6 ตัวเดียวระบบจะหาข้อมูลที่เป็น 6 เท่านั้น*  
    </div>   
    <div style="padding-right:0px;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right">
        <button id="btnSearch" class="btn btn-info"><i class="fa fa-search"></i>&nbsp;ค้นหา</button>
    </div>
</div>


<!--<div class="alert alert-warning text-center">
    <h5>กำลังดำเนินการแก้ไข เพื่อให้จำนวนสินค้าระหว่างขาย , ระหว่างส่ง , ส่งแล้ว  แยกจำนวนตามคลังได้ </h5>
    <h5 style="color:green;font-weight: bold;">สถานะการแก้ไข : รอเช็คความถูกต้อง</h5>
</div>-->
<div class="row" id="divReport">
    <table class="table table-condensed table-bordered table-striped" id="tblReport">
        <thead>
            <tr>
                <th>#</th>
                <th >วันที่</th>
                <th >CO_NUM</th>
                 <th >DO_num</th>
                
                <th >ลูกค้า</th>
                <th >รายการ</th>
                <th >จำนวนเส้น</th>
                <th >Lot</th>                
            </tr>

        </thead>
        <tbody id="tblReportList">

        </tbody>
    </table>
</div>






<script type="text/javascript">

    $("#txtFromDate,#txtToDate").val(GetToday());

    $("#txtFromDate , #txtToDate").datepicker({
        dateFormat: 'yy-mm-dd',
    });
    $("#btnSearch").click(function () {
        ReportItemSearch();
    });
    $(".txt-filter").on("keypress", function (e) {
        if (e.keyCode == 13) {
            ReportItemSearch();
            return false; // prevent the button click from happening
        }
    });
    function ReportItemSearch() {
        var oldHtmlBtn = $("#btnSearch").html();
        $("#btnSearch").html("<i class='fa fa-spinner fa-spin'></i>");
        var radioValue = $("input[name='radSearch']:checked").val();
        var txtItem = $("#txtItem").val();
        var txtSize = $("#txtSize").val();
        var txtThick = $("#txtThick").val();
        var txtWidth = $("#txtWidth").val();
        var txtFromDate = $("#txtFromDate").val();
        var txtToDate = $("#txtToDate").val();
        var txtCustName = $("#txtCustName").val();

        if ((txtFromDate == "") || (txtToDate=="")) {
            $.alert("Please select date");
        } else {
            $("#tblReportList").load("././module/RPTITEM_DO/data.php", {
                "load": "ajax",
                "txtItem": txtItem,
                "txtCustName": txtCustName,
                "txtSize": txtSize,
                "txtThick": txtThick,
                "txtWidth": txtWidth,
                "txtFromDate": txtFromDate ,
                "txtToDate" : txtToDate
            }, function () {
                $("#btnSearch").html(oldHtmlBtn);
                $('#tblReport').DataTable({
                    searching: false,
                    fixedHeader: true,
                    retrieve: true,
                    "pageLength": 999999999,
                    'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'>>" +
                            "<'row'<'col-md-12'tr>>" +
                            "<'row'<'col-md-5'><'col-sm-7'>>",
                    buttons: [
                        {
                            extend: 'print',
                            text: "<i class='fa fa-print'></i>&nbsp;Print",
                            title: ''
                        },
                        {
                            extend: 'excel',
                            text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                            title: ''
                        },
                    ]
                });
                var getAllRows = $(".table tbody tr").length;
                $(".col-flt-page").text("จำนวนทั้งหมด : " + getAllRows.toString());
            });
        }

    }
 
</script>
