<style>
  .col-search {
    padding-left: 3px;
    padding-right: 3px;
  }
  /*    table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }*/
  .table thead th {
    text-align: center;
  }

  .col-flt-page {
    padding-top: 10px;
    font-weight: bold;
  }

  #tblReport tbody tr td a {
    cursor: pointer;
  }
  table.dataTable.fixedHeader-floating,
  table.dataTable.fixedHeader-locked {
    background-color: white;
    margin-top: 50px !important;
    margin-bottom: 0 !important;
  }
  @media print {
    table th:nth-child(0) {
      width: 200px;
      word-break: break-all;
      white-space: pre-line;
    }
    table td:nth-child(0) {
      width: 200px;
      word-break: break-all;
      white-space: pre-line;
    }
  }
  .text-header {
    font-weight: bold;
    font-size: 20px;
  }
  .text-wrap {
    white-space: normal;
  }
  .width-200 {
    width: 200px;
  }
  input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
  } /*
    .cb_lb{
        margin-top:-5px;
    }*/
  .item-center {
    display: flex;
    justify-content: center;
  }
</style>
 <div style="margin-top: 10px; margin-bottom: 20px;">
      <h1 class="my-header">Manage Report Sub</h1>
  </div>
<div class="row item-center">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="input-group">
      <div class="input-group-addon">Prod_Date</div>
      <input
        type="text"
        class="form-control"
        id="txtProd_Date"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="input-group">
      <div class="input-group-addon">Import_Date</div>
      <input
        type="text"
        class="form-control"
        id="txtImport_Date"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-left">
    <button class="btn btn-info" id="btnSearch">
      <i class="fa fa-search"></i>&nbsp; Search
    </button>
  </div>
</div>

<div class="row" id="rowResultTable">
  <table
    class="table table-condensed table-bordered table-striped"
    width="100%"
    id="tblReport"
  >
    <thead>
      <tr>
        <!--<th >#</th>-->
        <th class="bg-gray">item</th>
        <th class="bg-gray">opr_no</th>
        <th class="bg-gray">size</th>
        <th class="bg-gray">schedule</th>
        <th class="bg-gray">length</th>
        <th class="bg-gray">standard</th>
        <th class="bg-gray">grade</th>
        <th class="bg-gray">sts_no</th>
        <th class="bg-gray">Mec_test_TS</th>
        <th class="bg-gray">Mec_test_YS</th>
        <th class="bg-gray">Mec_test_EI</th>
        <th class="bg-gray">Mec_test_TS_2</th>
        <th class="bg-gray">Mec_test_YS_2</th>
        <th class="bg-gray">Mec_test_EL_2</th>
        <th class="bg-gray">Not_Mec_test_TS</th>
        <th class="bg-gray">Not_Mec_test_YS</th>
        <th class="bg-gray">Not_Mec_test_EI</th>
        <th class="bg-gray">Not_Mec_test_TS_1</th>
        <th class="bg-gray">Not_Mec_test_YS_2</th>
        <th class="bg-gray">Not_Mec_test_EL_2</th>
        <th class="bg-gray">charpy_mean</th>
        <th class="bg-gray">charpy1</th>
        <th class="bg-gray">charpy2</th>
        <th class="bg-gray">charpy3</th>
        <th class="bg-gray">prod_FM_no</th>
        <th class="bg-gray">prod_date</th>
        <th class="bg-gray">test_date</th>
        <th class="bg-gray">remark</th>
      </tr>
    </thead>
    <!--        <tbody id="tblReportList">
                    <tr><td align="center" colspan="12">.... No item search ....</td></tr>
                </tbody>-->
  </table>
</div>
<script type="text/javascript">
  $("#btnSearch").click(function () {
    ReportItemSearch();
  });

  $("#txtStartDate,#txtEndDate").datepicker({
    dateFormat: "yy-mm-dd",
  });

  function removeById(selectedData) {
    $.confirm({
      title: "กรุณาใส่ Password",
      theme: "modern",
      content:
        '<input placeholder="" type="password" id="Pass" class="form-control" name="Pass" autofocus>',
      buttons: {
        confirm: function () {
          var password = $("#Pass").val();
          // Validate password here if needed
          if (password == "qa1234") {
            $.ajax({
              type: "POST",
              dataType: "json",
              url: "././module/APP_Qc_TestLab/data.php",
              data: {
                load: "DeleteQaLabSub",
                data: JSON.stringify(selectedData),
              },
              success: function (data) {
                $.alert("ลบข้อมูลเรียบร้อยแล้ว");
                ReportItemSearch();
              },
              error: function (xhr, ajaxOptions, thrownError) {
                $.alert("ลบข้อมูลไม่สําเร็จ");
              },
            });
          } else {
            $("#Pass").attr("placeholder", "Password ไม่ถูกต้อง");
            $("#Pass").val("");
            return false;
          }
        },
        cancel: function () {},
      },
    });
  }

  function ReportItemSearch() {
    var OldHtml = $("#btnSearch").html();
    var prodDate = $("#txtProd_Date").val();
    var importDate = $("#txtImport_Date").val();

    if (prodDate == "" && importDate == "") {
      $.alert("กรุณากรอกข้อมูลอย่างน้อย 1 ช่อง");
      return false;
    } else {
      $("#btnSearch").html("<i class='fa fa-spinner fa-spin'></i>");
      $("#tblReport").loading();
      $("#tblReport tfoot").remove();
      $.ajax({
        type: "POST",
        url: "././module/APP_Qc_TestLab/data.php",
        dataType: "json",
        beforeSend: function () {
          $("#btnSearch").html("<i class='fa fa-spinner fa-spin'>");
        },
        data: {
          load: "GetQaLabSub",
          prodDate: prodDate,
          importDate: importDate,
        },
        success: function (data) {
          $("#tblReport").DataTable().clear();
          $("#tblReport").append(
            "<tfoot><tr></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></td></tr></tfoot>"
          );
          $("#tblReport").dataTable({
            aaData: data,
            paging: false,
            fixedHeader: true,
            destroy: true,
            processing: true,
            scrollY: "65vh",
            scrollCollapse: true,
            scrollX: true,
            select: true,
            select: {
              style: "multi",
            },
            columnDefs: [{}],
            columns: [
              {
                data: "item",
                className: "text-center",
              },
              {
                data: "opr_no",
                className: "text-center",
              },
              {
                data: "size",
                className: "text-center",
              },
              {
                data: "Uf_Schedule",
                className: "text-center",
              },
              {
                data: "length",
                className: "text-center",
              },
              {
                data: "standard_sub",
                className: "text-center",
              },
              {
                data: "Uf_Grade",
                className: "text-center",
              },
              {
                data: "sts_no",
                className: "text-center",
              },
              {
                data: "Mec_test_TS",
                className: "text-center",
              },
              {
                data: "Mec_test_YS",
                className: "text-center",
              },
              {
                data: "Mec_test_EI",
                className: "text-center",
              },
              {
                data: "Mec_test_TS_2",
                className: "text-center",
              },
              {
                data: "Mec_test_YS_2",
                className: "text-center",
              },
              {
                data: "Mec_test_EL_2",
                className: "text-center",
              },
              {
                data: "Not_Mec_test_TS",
                className: "text-center",
              },
              {
                data: "Not_Mec_test_YS",
                className: "text-center",
              },
              {
                data: "Not_Mec_test_EI",
                className: "text-center",
              },
              {
                data: "Not_Mec_test_TS_2",
                className: "text-center",
              },
              {
                data: "Not_Mec_test_YS_2",
                className: "text-center",
              },
              {
                data: "Not_Mec_test_EL_2",
                className: "text-center",
              },
              {
                data: "charpy_mean",
                className: "text-center",
              },
              {
                data: "charpy1",
                className: "text-center",
              },
              {
                data: "charpy2",
                className: "text-center",
              },
              {
                data: "charpy3",
                className: "text-center",
              },
              {
                data: "prod_FM_no",
                className: "text-center",
              },
              {
                data: "prod_date.date",
                className: "text-center",
                render: function (data, type, row, meta) {
                  return moment(data).format("YYYY-MM-DD");
                },
              },
              {
                data: "test_date.date",
                className: "text-center",
                render: function (data, type, row, meta) {
                  return moment(data).format("YYYY-MM-DD");
                },
              },
              {
                data: "remark",
                className: "text-center",
              },
            ],
            dom:
              "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
              "<'row'<'col-md-12'tr>>" +
              "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
            buttons: [
              {
                extend: "print",
                text: "<i class='fa fa-print'></i>&nbsp;Print",
                title: "",
              },
              {
                extend: "excel",
                footer: true,
                text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                title: "Manage Report Sub ",
              },
              {
                text: `<button type="button" class="btn btn-danger">Delete</button>`,
                action: function (e, dt, node, config) {
                  let selectedData = Array.from(dt.rows(".selected").data());
                  const newData = selectedData.map((item) => {
                    return {
                      item: item.item,
                      opr_no: item.opr_no,
                      sts_no: item.sts_no,
                      size: item.size,
                      length: item.length,
                      prod_FM_no: item.prod_FM_no,
                      prod_Date: item.prod_date.date,
                    };
                  });
                  removeById(newData);
                },
              },
            ],
          });

          $("#tblReport").loading("stop");
          $("#btnSearch").html(OldHtml);
        },
        error: function (e) {
          $("#tblReport").loading("stop");
          $("#btnSearch").html(OldHtml);
          console.log("There was an error with your request...");
          console.log("error: " + JSON.stringify(e));
        },
      });
    }
  }
  $("#btnExportExcel").click(function () {
    //        onclick="javascript:
    //       xport.toCSV('tblReport');
  });

  $("#txtProd_Date,#txtImport_Date").datepicker({
    dateFormat: "yy-mm-dd",
  });
</script>
