
<div>
    <div class="col-xs-4">
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Operation</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Transaction Date</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Quantity</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Location</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Container</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Lot</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Project</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Import Document ID</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-addon">Document Number</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="Operation">
            </div>
        </div>
    </div>
</div>