<style>
    .col-search {
      padding-left: 3px;
      padding-right: 3px;
    }
    /*    table.dataTable thead .sorting:after,
          table.dataTable thead .sorting:before,
          table.dataTable thead .sorting_asc:after,
          table.dataTable thead .sorting_asc:before,
          table.dataTable thead .sorting_asc_disabled:after,
          table.dataTable thead .sorting_asc_disabled:before,
          table.dataTable thead .sorting_desc:after,
          table.dataTable thead .sorting_desc:before,
          table.dataTable thead .sorting_desc_disabled:after,
          table.dataTable thead .sorting_desc_disabled:before {
              bottom: .5em;
          }*/
    .table thead th {
      text-align: center;
    }
  
    .col-flt-page {
      padding-top: 10px;
      font-weight: bold;
    }
  
    #tblReport tbody tr td a {
      cursor: pointer;
    }
    table.dataTable.fixedHeader-floating,
    table.dataTable.fixedHeader-locked {
      background-color: white;
      margin-top: 50px !important;
      margin-bottom: 0 !important;
    }
    @media print {
      table th:nth-child(0) {
        width: 200px;
        word-break: break-all;
        white-space: pre-line;
      }
      table td:nth-child(0) {
        width: 200px;
        word-break: break-all;
        white-space: pre-line;
      }
    }
    .text-header {
      font-weight: bold;
      font-size: 20px;
    }
    .text-wrap {
      white-space: normal;
    }
    .width-200 {
      width: 200px;
    }
    input[type="checkbox"] {
      margin-left: 5px;
      margin-right: 5px;
    } /*
      .cb_lb{
          margin-top:-5px;
      }*/
    .item-center {
      display: flex;
      justify-content: center;
    }
  </style>
  <div class="row">
    <h4 class="text-header text-center">รายงานนำเข้า</h4>
  </div>
  <div class="row item-center">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="input-group">
        <div class="input-group-addon">Start Date</div>
        <input
          type="text"
          class="form-control"
          id="txtStartDate_IN"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="input-group">
        <div class="input-group-addon">End Date</div>
        <input
          type="text"
          class="form-control"
          id="txtEndDate_IN"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-left">
      <div class="flex gap-16">
        <button class="btn btn-info" id="btnSearch">
          <i class="fa fa-search"></i>&nbsp; Search
        </button>
        <button id="btnAdd" class="btn btn-success" data-toggle="modal" data-target="#ModalCustomIn"><i
          class="fa fa-searh"></i>เพิ่มข้อมูลรายงานนำเข้า</button>
        <!-- <a class="btn btn-success ml-32" href="module/STS_Custom_Data/Import_Excel_In.php"  id="btnTransfer">&nbsp;Import Excel (IN)</a> -->
      </div>
    </div>
  </div>
  <div class="row" id="rowResultTable">
    <table
      class="table table-condensed table-bordered table-striped"
      width="100%"
      id="tblReport"
    >
      <thead>
        <tr>
          <th class="bg-gray">ลำดับที่</th>
          <th class="bg-gray">เลขที่ใบขนฯ/ใบขนฯ โอนย้าย</th>
          <th class="bg-gray">วันนำเข้า</th>
          <th class="bg-gray">วันเข้าคลัง</th>
          <th class="bg-gray">ชื่อวัตถุดิบ</th>
          <th class="bg-gray">บริษัทที่ซื้อเหล็ก</th>
          <th class="bg-gray">ประเทศ</th>
          <th class="bg-gray">ภาษีทุ่มตลาด (% AD Rate)</th>
          <th class="bg-gray">จำนวน(กก.)</th>
          <th class="bg-gray">มูลค่า(บาท)</th>
          <th class="bg-gray">อากร 5% (บาท)</th>
          <th class="bg-gray">ภาษีมูลค่าเพิ่ม 7% (บาท)</th>
          <th class="bg-gray">ภาษีอากรรวม (บาท)</th>
          <th class="bg-gray">ภาษีทุ่มตลาด (บาท)</th>
          <th class="bg-gray">รวมภาษีทั้งหมด (บาท)</th>
          <th class="bg-gray">ภาษีต่อหน่วย (บาท/กก.)</th>
          <th class="bg-gray">ประเภทเหล็ก</th>
          <th class="bg-gray">หมายเหตุ</th>
        </tr>
      </thead>
      <!--        <tbody id="tblReportList">
                      <tr><td align="center" colspan="12">.... No item search ....</td></tr>
     </tbody>-->
    </table>
  </div>
  <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="ModalCustomIn" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-center" id="exampleModalLabel">เพิ่มข้อมูลรายการนำเข้า</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="flex flex-row justify-center items-center flex-grow gap-6 mb-5">
        <div class="input-group basis-2/4">
          <div class="input-group-addon">เลขที่ใบขน *</div>
          <input type="text" autocomplete="off" class="form-control" id="doc_no_in">
        </div>
        <div class="input-group basis-2/4">
          <div class="input-group-addon">วันนำเข้า *</div>
          <input type="text" autocomplete="off" class="form-control" id="date_in">
        </div>
      </div>
      <div class="flex flex-row justify-center items-center flex-grow gap-6 mb-5">
        <div class="input-group basis-2/4">
          <div class="input-group-addon">ชื่อวัตถุดิบ *</div>
          <input type="text" autocomplete="off" class="form-control" id="item_in">
        </div>
        <div class="input-group basis-2/4">
          <div class="input-group-addon">วันเข้าคลัง *</div>
          <input type="text" autocomplete="off" class="form-control" id="date_stock">
        </div>
      </div>
      <div class="flex flex-row justify-center items-center flex-grow gap-6 mb-5">
        <div class="input-group basis-2/4">
          <div class="input-group-addon">บริษัทที่ซื้อเหล็ก *</div>
          <input type="text" autocomplete="off" class="form-control" id="supplier">
        </div>
        <div class="input-group basis-2/4">
          <div class="input-group-addon">ประเทศ *</div>
          <input type="text" autocomplete="off" class="form-control" id="country">
        </div>
      </div>
      <div class="flex flex-row justify-center items-center flex-grow gap-6 mb-5">
        <div class="input-group basis-2/4">
          <div class="input-group-addon">AD Rate *</div>
          <input type="number" autocomplete="off" class="form-control" id="ad_rate">
        </div>
        <div class="input-group basis-2/4">
          <div class="input-group-addon">จํานวน (กก.) *</div>
          <input type="number" autocomplete="off" class="form-control" id="weight_KG_in">
        </div>
      </div>
      <div class="flex flex-row justify-center items-center flex-grow gap-6 mb-5">
        <div class="input-group basis-2/4">
          <div class="input-group-addon">มูลค่า (บาท) *</div>
          <input type="number" autocomplete="off" class="form-control" id="value_in">
        </div>
        <div class="input-group basis-2/4">
          <div class="input-group-addon">หมายเหตุ</div>
          <input type="text" autocomplete="off" class="form-control" id="remark_in">
        </div>
      </div>
      <div class="flex justify-start items-center mb-5">
        <select class="form-control" id="type_in"
          aria-label="Default select example">
          <option>กรุณาเลือกประเภทเหล็ก *</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" id="SaveCustomIn" onclick="SaveCustomIn()">บันทึก</button>
    </div>
  </div>
</div>
</div>
  <script type="text/javascript">
 
    $("#btnSearch").click(function () {
      ReportItemSearch();
    });
           
    $("#txtStartDate_IN,#txtEndDate_IN,#date_in ,#date_stock").datepicker({
      dateFormat: "yy-mm-dd",
    });
    
    $("#btnRemove").click(function () {
      $("#tblReport").DataTable().clear().destroy();
    });
  
    function ReportItemSearch() {
      var OldHtml = $("#btnSearch").html();
      var StartDate = $("#txtStartDate_IN").val();
      var EndDate = $("#txtEndDate_IN").val();
  
      if (StartDate != "" && EndDate == "" || StartDate == "" && EndDate != "") {
          $.alert("กรุณาเลือกวันที่เริ่มต้นและสิ้นสุดให้ครบถ้วน");
          return false;
      }
  
      if (StartDate == "" && EndDate == "") {
        $.alert("กรุณากรอกข้อมูลอย่างน้อย 1 ช่อง");
        return false;
      } else {
        $("#btnSearch").html("<i class='fa fa-spinner fa-spin'></i>");
        $("#tblReport").loading();
        $("#tblReport tfoot").remove();
        $.ajax({
          type: "POST",
          url: "././module/RPT_STS_custom_IN/data.php",
          dataType: "json",
          beforeSend: function () {
            $("#btnSearch").html("<i class='fa fa-spinner fa-spin'>");
          },
          data: {
            load: "ajax",
            StartDate: StartDate,
            EndDate: EndDate,
          },
          success: function (data) {

            var newData = data.map((item) => {
              let val5 = item.value * 0.05
              let val7 = (Number(item.value) + val5) * 0.07
              let totalVal = val5 + val7
              let valMarket = (item.value * item.AD_rate) / 100
              let total = val5 + val7 + valMarket
              return {
                ...item,
                val5: val5,
                val7: val7,
                totalVal: totalVal,
                valMarket: valMarket,
                total: total

              }
            })

            $("#tblReport").DataTable().clear();
            $("#tblReport").append(
              "<tfoot><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tfoot>"
            );
            $("#tblReport").dataTable({
              aaData: newData,
              paging: false,
              fixedHeader: true,
              destroy: true,
              processing: true,
              scrollY: "65vh",
              scrollCollapse: true,
              scrollX: true,
              select: false,
              columns: [
                 {
                "targets": 0, // คอลัมน์ที่จะแสดง index
                "data": null,
                className: "text-center",
                "render": function (data, type, row, meta) {
                    return meta.row + 1; // แสดงลำดับแถว +1 เนื่องจาก index เริ่มที่ 0
                  }
                },
                {
                  data: "doc_no",
                  className: "text-center",
                },
                {
                  data: "date_in.date",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    return data.substring(0, 10);
                  }
                },
                {
                  data: "date_stock.date",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    return data.substring(0, 10);
                  }
                },
                {
                  data: "item",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    let valdata = data;
                    let ret = `<span hidden>${(valdata)}</span><input type='text' class='input-text-value' size='20' onchange="SaveEdit('${row.doc_no}', value, 'item');" value='${(valdata)}' />`;
                    return ret;
                  }
                },
                {
                  data: "supplier",
                  className: "text-center",
                },
                {
                  data: "country",
                  className: "text-center",
                },
                {
                  data: "AD_rate",
                  className: "text-center",
                },
                {
                  data: "weight_KG",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    return addCommas(data);
                  }
                },
                {
                  data: "value",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    return addCommas(data);
                  }
                },
                {
                  data: "val5",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    return addCommas(parseFloat(data).toFixed(2));
                  }
                },
                {
                  data: "val7",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    return addCommas(parseFloat(data).toFixed(2));
                  }
                },
                {
                  data: 'totalVal',
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    
                    return addCommas(parseFloat(data).toFixed(2));
                  }
                },
                {
                  data: "valMarket",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    return addCommas(parseFloat(data).toFixed(2));
                    
                  }
                },
                {
                  data: "total",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    return addCommas(parseFloat(data).toFixed(2));
                    
                  }
                },
                {
                  data: null,
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    var avg = row.value / row.weight_KG
                    return addCommas(parseFloat(avg).toFixed(2));
                    
                  }
                },
                {
                  data: "type",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    let valdata = data;
                    let ret = `<span hidden>${(valdata)}</span><input type='text' class='input-text-value' size='20' onchange="SaveEdit('${row.doc_no}', value, 'type');" value='${(valdata)}' />`;
                    return ret;
                  }
                },
                {
                  data: "remark",
                  className: "text-center",
                  "render": function (data, type, row, meta) {
                    let valdata = data;
                    let ret = `<span hidden>${(valdata)}</span><input type='text' class='input-text-value' size='40' onchange="SaveEdit('${row.doc_no}', value, 'remark');" value='${(valdata)}' />`;
                    return ret;
                  }
                },
              ],
              dom:
                "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                "<'row'<'col-md-12'tr>>" +
                "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
              buttons: [
                {
                  extend: "print",
                  text: "<i class='fa fa-print'></i>&nbsp;Print",
                  title: "",
                },
                {
                  extend: "excel",
                  footer: true,
                  text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                  title:
                    "รายงานนำเข้า" +
                    StartDate +
                    "_to_" +
                    EndDate,
                },
                {
                text: `<button type="button" class="btn btn-info">พิมพ์รายงานประจำเดือน</button>`,
                action: function (e, dt, node, config) {
                  var data = dt.rows().data().toArray();
                  printReport(data, StartDate);
                }
                },
                {
                text: `<button type="button" class="btn btn-info">พิมพ์รายงานประจำปี</button>`,
                action: function (e, dt, node, config) {
                  var data = dt.rows().data().toArray();
                  printReport2(data, StartDate, EndDate);
                }
               },
              ],
              "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(),
                                data;
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                        };
                        var totalKG = api
                                .column(8)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                        var totalAmt = api
                                .column(9)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                        var val5 = api
                                .column(10)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a.toFixed(2)) + intVal(b.toFixed(2));
                                }, 0);
                        var val7 = api
                                .column(11)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a.toFixed(2)) + intVal(b.toFixed(2));
                                }, 0);
                        var totalVal = api
                                .column(12)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a.toFixed(2)) + intVal(b.toFixed(2));
                                }, 0);
                        var valMarket = api
                                .column(13)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a.toFixed(2)) + intVal(b.toFixed(2));
                                }, 0);
                        var total = api
                                .column(14)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a.toFixed(2)) + intVal(b.toFixed(2));
                                }, 0);

                        $(api.column(5).footer()).html("<b>รวม</b>");
                        $(api.column(8).footer()).html(addCommas(totalKG.toFixed(2)));
                        $(api.column(9).footer()).html(addCommas(totalAmt.toFixed(2)));
                        $(api.column(10).footer()).html(addCommas(val5.toFixed(2)));
                        $(api.column(11).footer()).html(addCommas(val7.toFixed(2)));
                        $(api.column(12).footer()).html(addCommas(totalVal.toFixed(2)));
                        $(api.column(13).footer()).html(addCommas(valMarket.toFixed(2)));
                        $(api.column(14).footer()).html(addCommas(total.toFixed(2)));

                    },
            });
            $("#tblReport").loading("stop");
            $("#btnSearch").html(OldHtml);
          },
          error: function (e) {
            $("#tblReport").loading("stop");
            $("#btnSearch").html(OldHtml);
            console.log("There was an error with your request...");
            console.log("error: " + JSON.stringify(e));
          },
        });
      }
    }

    function SaveCustomIn() {
      var doc_no = $("#doc_no_in").val();
      var date_in = $("#date_in").val();
      var date_stock = $("#date_stock").val();
      var item = $("#item_in").val();
      var supplier = $("#supplier").val();
      var country = $("#country").val();
      var ad_rate = $("#ad_rate").val();
      var weight_KG = $("#weight_KG_in").val();
      var value = $("#value_in").val();
      var remark = $("#remark_in").val();
      var type = $("#type_in").val();

     if (doc_no == "" || date_in == "" || date_stock == "" || item == "" || supplier == "" || country == "" || ad_rate == "" || weight_KG == "" || value == "" || type == "กรุณาเลือกประเภทเหล็ก *") {
        alert("กรุณากรอกข้อมูลให้ครบ");
        return false;
     }

     $.ajax({
      type: "POST",
      url: "././module/RPT_STS_custom_IN/data.php",
      dataType: "json",
      data: {
        load: "insert_sts_custom_in",
        doc_no: doc_no,
        date_in: date_in,
        date_stock: date_stock,
        item: item,
        supplier: supplier,
        country: country,
        AD_rate: ad_rate,
        weight_KG: weight_KG,
        value_in: value,
        remark: remark,
        type: type
      },
      success: function (data) {
        alert("บันทึกข้อมูลสําเร็จ");
        $("#doc_no_in").val("");
        $("#date_in").val("");
        $("#date_stock").val("");
        $("#item_in").val("");
        $("#supplier").val("");
        $("#country").val("");
        $("#ad_rate").val("");
        $("#weight_KG_in").val("");
        $("#value_in").val("");
        $("#remark_in").val("");
        $("#type_in").val("กรุณาเลือกประเภทเหล็ก *");
        $("#ModalCustomIn").modal("hide");
      },
      error: function (e) {
        alert("บันทึกข้อมูลไม่สําเร็จ");
      },
    });
    }

    function SaveEdit(doc_no, newValue, field) {
      var username_session = GetUserProp("login_username");
      $(".username_session").html(username_session);
      $.ajax({
        type: "POST",
        url: "././module/RPT_STS_custom_IN/data.php",
        dataType: "json",
        data: {
          load: "update_sts_custom_in",
          doc_no: doc_no,
          newValue: newValue,
          field: field,
        },
        success: function (data) {
          $.ajax({
            type: "POST",
            url: "././module/STS_Custom_Data/data.php",
            dataType: "json",
            data: {
              load: "SaveCustomLog",
              table: "STS_custom_IN",
              doc_no: doc_no,
              oldValue: data,
              newValue: newValue,
              field: field,
              users: username_session
            },
            success: function (data) {
              console.log(data);
            }
          })
        }
      });
    }

    function printReport(newData, StartDate) {
    pdfMake.fonts = {
        THSarabunNew: {
            normal: 'THSarabunNew.ttf',
            bold: 'THSarabunNew Bold.ttf',
            italics: 'THSarabunNew-Italic.ttf',
            bolditalics: 'THSarabunNew-BoldItalic.ttf'
        },
        Roboto: {
            normal: 'Roboto-Regular.ttf',
            bold: 'Roboto-Medium.ttf',
            italics: 'Roboto-Italic.ttf',
            bolditalics: 'Roboto-MediumItalic.ttf'
        }
    };

    const data = []
    data.push([
      { text: `ลำดับที่`, fontSize: 12, bold: true, alignment: 'center', style: 'header' },
      { text: "เลขที่ใบขนฯ/ใบขนฯ โอนย้าย", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "วันนำเข้า", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "วันเข้าคลัง", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "ชื่อวัตถุดิบ", fontSize: 12, bold: true, alignment: 'center', style: 'header' },
      { text: "จำนวน(กก.)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "มูลค่า(บาท)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "อากร 5% (บาท)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "ภาษีมูลค่าเพิ่ม 7% (บาท)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "ภาษีอากรรวม (บาท)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "รวมภาษีทั้งหมด (บาท)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "หมายเหตุ", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
    ])

    for (let i = 0; i < newData.length ; i++) {
      data.push([
        { text: i + 1, fontSize: 12, alignment: 'center' },
        { text: newData[i].doc_no, fontSize: 12, alignment: 'center' },
        { text: moment(newData[i].date_in.date).format('DD/MM/YYYY'), fontSize: 12, alignment: 'center' },
        { text: moment(newData[i].date_stock.date).format('DD/MM/YYYY'), fontSize: 12, alignment: 'center' },
        { text: newData[i]?.item ? newData[i].item : '', fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].weight_KG), fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].value), fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].val5.toFixed(2)), fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].val7.toFixed(2)), fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].totalVal.toFixed(2)), fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].total.toFixed(2)), fontSize: 12, alignment: 'center' },
        { text: newData[i]?.remark ? newData[i].remark : '', fontSize: 12, alignment: 'center' },
      ],)

      if (i == newData.length - 1) {
        data.push([
        { text: 'รวม', fontSize: 12,bold: true, alignment: 'center', colSpan: 5 },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.weight_KG), 0).toFixed(2)), fontSize: 12,bold: true, alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.value), 0).toFixed(2)), fontSize: 12,bold: true, alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.val5), 0).toFixed(2)), fontSize: 12,bold: true, alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.val7), 0).toFixed(2)), fontSize: 12,bold: true, alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.totalVal.toFixed(2)), 0).toFixed(2)), fontSize: 12,bold: true, alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.total), 0).toFixed(2)), fontSize: 12,bold: true, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        ],)
      }

    }

    if (newData.length == 0) {
      for (let i = 0; i < 5; i++) {
        data.push([
        { text: ' ', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
      ])
      }
    }


    var docDefinition = {
      pageSize: 'A4',
      pageOrientation: 'landscape',
      pageMargins: [25, 70, 50, 50],
      header: function (currentPage, pageCount, pageSize) {
        return {
          margin: [20, 5, 20, 10],
          table: {
            widths: [800],
            body: [
              [
                {
                  border: [false, false, false, false],
                  fontSize: 18,
                  text: `รายงานข้อมูลใบขนสินค้าขาเข้า ประจำ เดือน ${new Date(StartDate).toLocaleDateString("th-TH", { month: 'long' })} ${new Date(StartDate).toLocaleDateString("th-TH", { year: 'numeric' })}`,
                  alignment: 'center',

                },
              ],
              [
                {
                  border: [false, false, false, false], text: `คลังสินค้าทัณฑ์บน บริษัท สหไทยสตีลไพพ์ จำกัด (มหาชน)`, fontSize: 16, alignment: 'center', margin: [0, 0, 0, 0]
                },
              ],
            ],
          },
        };
      },
      content: [
        {
          margin: [0, 0, 0, 0],
          columns: [
            {

              table: {
                widths: [30, 70, 50, 50, 60, 60, 60, 60, 60, 60, 60, 60],
                headerRows: 1,
                body: data,
              },
            },
          ],
        }
      ],
      defaultStyle: {
        font: 'THSarabunNew',
      },
    };

    pdfMake.createPdf(docDefinition).open()
  }

  function printReport2(info, StartDate, EndDate) {
    // sort arr by date
    const newData = info.sort((a, b) => new Date(a.date_in.date) - new Date(b.date_in.date));
    
    pdfMake.fonts = {
        THSarabunNew: {
            normal: 'THSarabunNew.ttf',
            bold: 'THSarabunNew Bold.ttf',
            italics: 'THSarabunNew-Italic.ttf',
            bolditalics: 'THSarabunNew-BoldItalic.ttf'
        },
        Roboto: {
            normal: 'Roboto-Regular.ttf',
            bold: 'Roboto-Medium.ttf',
            italics: 'Roboto-Italic.ttf',
            bolditalics: 'Roboto-MediumItalic.ttf'
        }
    };

    const data = []
    data.push([
      { text: `ลำดับที่`, fontSize: 12, bold: true, alignment: 'center', style: 'header' },
      { text: "เลขที่ใบขนฯ/ใบขนฯ โอนย้าย", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "วันนำเข้า", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "วันเข้าคลังฯ", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "ชื่อวัตถุดิบ", fontSize: 12, bold: true, alignment: 'center', style: 'header' },
      { text: "รหัสวัตถุดิบ", fontSize: 12, bold: true, alignment: 'center', style: 'header' },
      { text: "หน่วย", fontSize: 12, bold: true, alignment: 'center', style: 'header' },
      { text: "จำนวน(กก.)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "มูลค่า(บาท)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
      { text: "ภาษีอากรรวม (บาท)", fontSize: 12,bold: true,  alignment: 'center', style: 'header' },
    ])

    for (let i = 0; i < newData.length ; i++) {
      data.push([
        { text: i + 1, fontSize: 12, alignment: 'center' },
        { text: newData[i].doc_no, fontSize: 12, alignment: 'center' },
        { text: moment(newData[i].date_in.date).format('DD/MM/YYYY'), fontSize: 12, alignment: 'center' },
        { text: moment(newData[i].date_stock.date).format('DD/MM/YYYY'), fontSize: 12, alignment: 'center' },
        { text: newData[i]?.item ? newData[i].item : '', fontSize: 12, alignment: 'center' },
        { text: 'H0001', fontSize: 12, alignment: 'center' },
        { text: 'KGS', fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].weight_KG), fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].value), fontSize: 12, alignment: 'center' },
        { text: addCommas(newData[i].totalVal.toFixed(2)), fontSize: 12, alignment: 'center' },
      ],)

      if (i == newData.length - 1) {
        data.push([
        { text: 'รวม', fontSize: 12, bold: true, alignment: 'center', colSpan: 7 },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.weight_KG), 0).toFixed(2)), fontSize: 12, bold: true,alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.value), 0).toFixed(2)), fontSize: 12,bold: true, alignment: 'center' },
        { text: addCommas(newData.reduce((total, item) => total + Number(item.totalVal.toFixed(2)), 0).toFixed(2)), bold: true,fontSize: 12, alignment: 'center' },
        ],)
      }

    }

    if (newData.length == 0) {
      for (let i = 0; i < 5; i++) {
        data.push([
        { text: ' ', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
        { text: '', fontSize: 12, alignment: 'center' },
      ])
      }
    }


    var docDefinition = {
      pageSize: 'A4',
      pageOrientation: 'landscape',
      pageMargins: [25, 110, 50, 50],
      header: function (currentPage, pageCount, pageSize) {
        return {
          margin: [20, 5, 20, 10],
          table: {
            widths: [800],
            body: [
            [
                {
                  border: [false, false, false, false],
                  fontSize: 16,
                  bold: true,
                  text: "SAHA THAI STEEL PIPE (PUBLIC) CO., LTD. ทะเบียน W0201100000023",
                  alignment: 'center',

                },
              ],
              [
                {
                  border: [false, false, false, false],
                  fontSize: 14,
                  text: "รายงานของที่นำเข้าเก็บในคลังสินค้าทัณฑ์บนฯ",
                  alignment: 'center',

                },
              ],
              [
                {
                  border: [false, false, false, false],
                  fontSize: 14,
                  text: "นำเข้าจากต่างประเทศ",
                  alignment: 'center',
              
                },
              ],
              [
                {
                  border: [false, false, false, false], text: `สำหรับงวดบัญชี ระหว่างวันที่ ${new Date(StartDate).toLocaleDateString("th-TH", { year: 'numeric', month: 'long', day: 'numeric' })} ถึง ${new Date(EndDate).toLocaleDateString("th-TH", { year: 'numeric', month: 'long', day: 'numeric' })}`, fontSize: 14, alignment: 'center', margin: [0, 0, 0, 0]
                },
              ],
            ],
          },
        };
      },
      content: [
        {
          margin: [0, 0, 0, 0],
          columns: [
            {

              table: {
                widths: [30, 100, 60, 60, 70,60,50,90,90,90],
                headerRows: 1,
                body: data,
              },
            },
          ],
        }
      ],
      defaultStyle: {
        font: 'THSarabunNew',
      },
    };

    pdfMake.createPdf(docDefinition).open()
  }
  </script>