<div class="row rowData">
    <table class="table table-condensed table-bordered " id="tblReport">
        <thead>
            <tr>
                <th>เลขที่เอกสาร</th>
                <th>Do Seq.</th>
                <th>Item</th>
                <th>Co.Order</th>
                <th>Co.Line</th>
                <th>Po.No</th>
                <th>เส้น/มัด</th>
                <th>จ.น.มัด<br>เศษ</th>
                <th>รวมเส้น</th>
                <th>หน่วยนับ</th>
                <th>น.น./เส้น(KG.)</th>
                <th>น.น.รวม</th>
            </tr>
        </thead>
        <tbody id="tbodyList">
            {table_data}
        </tbody>
    </table>
</div>