<style>
    .col-search{
        padding-left:3px;
        padding-right:3px;
    }
    /*    table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }*/
    .table thead th{
        text-align: center;
    }

    .col-flt-page{
        padding-top:10px;
        font-weight: bold;
    }

    #tblReport tbody tr td a {
        cursor: pointer ;
    }
    table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {
        background-color: white;
        margin-top: 50px !important;
        margin-bottom: 0 !important;
    }
    @media print {
        table th:nth-child(0) {
            width: 200px;
            word-break: break-all;
            white-space: pre-line;
        }
        table td:nth-child(0) {
            width: 200px;
            word-break: break-all;
            white-space: pre-line;
        }

    }
    .text-wrap{
        white-space:normal;
    }
    .width-200{
        width:200px;
    }
    input[type=checkbox]{
        margin-left:5px;margin-right:5px;
    }/*
    .cb_lb{
        margin-top:-5px;
    }*/
</style>
<div class="row">
    <h4> AR Transaction Report</h4>
</div>
<div class='row'>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
        <div class="input-group">
            <div class="input-group-addon">Start Date</div>
            <input type="text" class="form-control" id="txtStartDate" autocomplete="off">
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
        <div class="input-group">
            <div class="input-group-addon"> End Date</div>
            <input type="text" class="form-control" id="txtEndDate" autocomplete="off">
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 ">
        <label class='checkbox-inline'>
            <input type='checkbox' checked name='cb_doc' value='IN'> IN
        </label>
        <label class='checkbox-inline'>
            <input type='checkbox' checked name='cb_doc' value='CN'> CN
        </label>


        <label class='checkbox-inline'>
            <input type='checkbox' checked name='cb_doc' value='DN'> DN
        </label>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-left">
        <button class="btn btn-info" id="btnSearch"><i class="fa fa-search"></i>&nbsp;Search </button>
    </div>
</div>

<div class="row"  id="rowResultTable">
    <table class="table table-condensed table-striped "  width="100%" id="tblReport">
        <thead>
            <tr>
                <!--<th >#</th>-->
                <th>inv_date</th>
                <th>inv_num</th>
                <th>cust_num</th>
                <th>cust_name</th>
                <th>amount</th>
                <th>tax</th>
                <th>net amt</th>
                <th>description</th>
                <th>apply_to_inv</th>
                <th>post_from_co</th>
                <th>co_num</th>
            </tr>
        </thead>
        <!--        <tbody id="tblReportList">
                    <tr><td align="center" colspan="12">.... No item search ....</td></tr>
                </tbody>-->
    </table>
</div>
<script type="text/javascript">

//    var date = new Date();
//    var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
//    var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
//    var getMon = pad(lastDay.getMonth() + 1, 2);
//    var LastDayInThisMonth = (lastDay.getFullYear()) + '-' + getMon + '-' + lastDay.getDate();
//    var FirstDayInThisMonth = (lastDay.getFullYear()) + '-' + getMon + '-01';
//    $("#txtEndDate").val(LastDayInThisMonth);
//    $("#txtStartDate").val(FirstDayInThisMonth);
    $("#btnSearch").click(function () {
        ReportItemSearch();
    });
    $("#txtStartDate,#txtEndDate").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    function ReportItemSearch() {
        var docs = [];
        $.each($("input[name='cb_doc']:checked"), function () {
            docs.push($(this).val());
        });
//           console.log(docs);

        var OldHtml = $("#btnSearch").html();

        var StartDate = $("#txtStartDate").val();
        var EndDate = $("#txtEndDate").val();

        if ((StartDate == "") && (EndDate == "")) {
            $.alert("กรุณาเลือกช่วงวันที่รายงาน");
            return false;
        } else {
            $("#btnSearch").html("<i class='fa fa-spinner fa-spin'></i>");
            $("#tblReport").loading();
            $("#tblReport tfoot").remove();
            $.ajax({
                type: 'POST',
                url: "././module/RPTARTRAN/data.php",
//                contentType: "text/plain",
                dataType: 'json',
                beforeSend: function () {
                    $("#btnSearch").html("<i class='fa fa-spinner fa-spin'>");
                },
                data: {
                    "load": "ajax",
                    "StartDate": StartDate,
                    "EndDate": EndDate,
                    "docs": docs
                },
                success: function (data) {

                    $("#tblReport").DataTable().clear();
                    $("#tblReport").append("<tfoot><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tfoot>");
                    $('#tblReport').dataTable({

                        "aaData": data,
                        "paging": false,
                        "initComplete": function (settings, json) {
                            ReCalGridAmount();
                        },
                        fixedHeader: true,
                        destroy: true,
                        'processing': true,
                        "columns": [
                            {"data": "inv_date_conv", "className": "text-center"
                                , "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }
                            },
                            {"data": "inv_num", "className": "text-center", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }
                            },
                            {"data": "cust_num", "className": "text-center", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }
                            },
                            {"data": "cust_name", "className": "text-center", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }
                            },
                            {"data": "amount", "className": "text-right", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data+ "</span>";
                                    }
                                    return ret;
                                }
                            },
                            {"data": "sales_tax", "className": "text-right", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data+ "</span>";
                                    }
                                    return ret;
                                }
                            },
                            {"data": "net_amt", "className": "text-right", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }
                            },
                            {"data": "description", "className": "text-left", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }},
                            {"data": "apply_to_inv_num", "className": "text-center", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }},
                            {"data": "post_from_co", "className": "text-center", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }},
                            {"data": "co_num", "className": "text-center", "render": function (data, type, row, meta) {
                                    var ret = data;
                                    if (row["inv_num"].substring(0, 2) == "CN") {
                                        ret = "<span style='color:red;'>" + data + "</span>";
                                    }
                                    return ret;
                                }},
                        ],
                        'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                                "<'row'<'col-md-12'tr>>" +
                                "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
                        buttons: [
                            {
                                extend: 'print',
                                text: "<i class='fa fa-print'></i>&nbsp;Print",
                                title: ''
                            },
                            {
                                extend: 'excel',
                                footer: true,
                                text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                                title: 'ArTran_' + StartDate + '_to_' + EndDate
                            },
                        ],
                        "footerCallback": function (row, data, start, end, display) {
                            var api = this.api(), data;

                            // converting to interger to find total
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                        i.replace(/[\$,]/g, '') * 1 :
                                        typeof i === 'number' ?
                                        i : 0;
                            };

                            // computing column Total of the complete result
                            var amt_total = api
                                    .column(4)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                            var tax_total = api
                                    .column(5)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);
                            var net_total = api
                                    .column(6)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);



                            // Update footer by showing the total with the reference of the column index
                            //$(api.column(3).footer()).html('Total');
                            //$(api.column(4).footer()).html(addCommas(amt_total.toFixed(2)));
                            //$(api.column(5).footer()).html(addCommas(tax_total.toFixed(2)));
                            //$(api.column(6).footer()).html(addCommas(net_total.toFixed(2)));
                        },
                    });

//                    $('#tblReport').DataTable({
//                        drawCallback: function () {
//                            var api = this.api();
//                            $(api.table().footer()).html(
//                                    api.column(4, {page: 'current'}).data().sum()
//                                    );
//                        }
//                    });


                    $('#tblReport').loading("stop");
                    $("#btnSearch").html(OldHtml);
                   ReCalGridAmount();
                },
                error: function (e) {

                    console.log("There was an error with your request...");
                    console.log("error: " + JSON.stringify(e));
                }
            });

        }
    }
    $("#btnExportExcel").click(function () {
        //        onclick="javascript:

        //       xport.toCSV('tblReport');
    });



//    $("#Loc").select2();


    $("#StartDate,#EndDate").datepicker({
        dateFormat: 'yy-mm-dd'
    });


    var intVal2 = function (i) {
        return typeof i === 'string' ?
                i.replace(/[\$,]/g, '') * 1 :
                typeof i === 'number' ?
                i : 0;
    };


    function ReCalGridAmount() {
        var GrandAmount = 0;
        var GrandVat = 0;
        var GrandTotal = 0;
        var i = 0;
        $("#tblReport tbody tr ").each(function () {
            GrandAmount += parseFloat($(this).find("td:eq(4)").text().replace(",", "").replace(",", ""));
            GrandVat += parseFloat($(this).find("td:eq(5)").text().replace(",", "").replace(",", ""));
            GrandTotal += parseFloat($(this).find("td:eq(6)").text().replace(",", "").replace(",", ""));
//            console.log($(this).find("td:eq(4)").text().replace(",", "").replace(",", ""));
            i++;
        });

        $("#tblReport tfoot tr:eq(0)").find("td:eq(4)").text(formatMoney(GrandAmount));
        $("#tblReport tfoot tr:eq(0)").find("td:eq(5)").text(formatMoney(GrandVat));
        $("#tblReport tfoot tr:eq(0)").find("td:eq(6)").text(formatMoney(GrandTotal));
    }

</script>
