<script type="text/javascript">
    function PrintElem() {
        var mywindow = window.open('', 'PRINT', '');
        mywindow.document.write('<html><head><title>' + document.title + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write(document.getElementById("printTag").innerHTML);
        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
        mywindow.print();
        mywindow.close();
        $('#printpopup').dialog('close');
            if (data == "1") {
                popup(data);
                location.reload(true);
            } else if (data == "2") {
                popup(data);
                return false;
            } else {
                popup(data);
            }
        if (window.location.href.includes("history")) {
            location.reload();
        } else {
            window.history.back();
            location.reload();
        }

    }
</script>

<table width="100%" border="0" cellpadding="5" cellspacing="0">
    <tr>
        <td style="text-align: center !important" align="center">
            <input name="print_a" type="button" id="print_a" value=" พิมพ์ Tag Barcode " class="ui-button ui-widget ui-corner-all" onClick="PrintElem();">
        </td>
    </tr>
</table>
<hr>
<div id="printTag">
    {printlist}
</div>