<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>:: BoatNote ::</title>

        <!-- Bootstrap core CSS -->
        <script src="js/jquery.js"></script>
        <script src="js/popper.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="js/bootstrap.min.js"></script>

        <!-- Custom fonts for this template -->
        <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="css/scrolling-nav.css" rel="stylesheet">
        <!--<link href="css/boatnote.css" rel="stylesheet" type="text/css">-->

        <script src="js/scrolling-nav.js"></script>
        <!-- Datetimepicker Set -->
        <link rel="stylesheet" media="all" type="text/css" href="css/jquery-ui.css" />
        <link rel="stylesheet" media="all" type="text/css" href="css/jquery-ui-timepicker-addon.css" />
        <link rel="stylesheet" media="all" type="text/css" href="css/mainstyle.css" />
        
        
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>

        <script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="js/jquery-ui-sliderAccess.js"></script>
         <!--search Dropdown--> 
        <link rel="stylesheet" media="all" type="text/css" href="css/select2.min.css" />
        <script type="text/javascript" src="js/select2.min.js"></script>
    </head>

    <body>

        <!-- Navigation -->


        <!--<div class="container">-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="./index.php">
                    <img src="image/STS-transparent.png" style="width:150px;">
                    <!--<font color="orange">SAHATHAI</font> SteelPipe-->
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">  
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="dropdown" style="margin-right:35px;">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="?bn_lists"><i class="fa fa-ship"></i> BoatNote
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="menu-item" href="?bn_lists"><i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;Lists</a></li>
                                <li><a class="menu-item"  href="?bn_create"><i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;&nbsp;Create</a></li>
                                <li><a  class="menu-item" href="?bn_list_cancel"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Trash</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="margin-right:35px;">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="?bn_lists"><i class="fa fa-ship"></i> BoatPlan
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="menu-item" href="?bp_lists"><i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;Lists</a></li>
                                <li><a class="menu-item"  href="?bp_create"><i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;&nbsp;Create</a></li>
                                <li><a class="menu-item"  href="?bp_report"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;&nbsp;Report</a></li>
                                <li><a  class="menu-item" href="?bp_list_cancel"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Trash</a></li>
                            </ul>
                        </li>
<!--                        <li class="dropdown" style="margin-right:20px;">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="?bn_lists"><i class="fa fa-cog"></i> MasterData
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="menu-item" href="?mt_boat_lists"><i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;Boat</a></li>
                                <li><a class="menu-item"  href="?mt_harbor_lists"><i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;Harbor</a></li>
                                <li><a  class="menu-item" href="?mt_boatposition_lists"><i class="fa fa-bars"></i>&nbsp;&nbsp;&nbsp;Position</a></li>
                            </ul>
                        </li>-->
                        <!--                           <li class="nav-item">
                                                                  <a class="nav-link" href="?report"><i class="fa fa-bar-chart"></i> Report</a>
                                                              </li>
                                                              <li class="nav-item">
                                                                  <a class="nav-link" href="?export"><i class="fa fa-mail-forward"></i> Export</a>
                                                              </li> -->
                    </ul>

                </div>
            </div>
        </nav>
        <div class="container-fluid container-main">




            <!--  <div id="breadCrumb"> {crumb} / {pagename}</div>
                      <div id="pageName"></div><div id="datetimeNav">{datebar}<span id="Clock"></span></div> -->
            <!--<div id="content" >-->
            {content}
            <!--</div>-->

        </div>


        <!-- Footer -->
        <footer style="margin-top:50px;">
            <div class="">
                &copy; suchard.int@sahathai.com

            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->


    </body>

</html>
