<style>
    /* ซ่อน Checkbox ดั้งเดิม */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* ตำแหน่งและขนาดของ Checkbox */
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin: 3px;
}

/* สไตล์สำหรับ Checkmark */
.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s;
}

/* สไตล์สำหรับ Checkbox เมื่อถูกเลือก */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #4CAF50;
}

/* สไตล์สำหรับเครื่องหมายถูก */
.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

/* แสดงเครื่องหมายถูกเมื่อ Checkbox ถูกเลือก */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    display: block;
}

/* รูปแบบของเครื่องหมายถูก */
.custom-checkbox .checkmark::after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

</style>

<div class="row">
    <div>
        <h1>DO INVENTORY DETAIL REPORT</h1>
    </div> 
    <!--    <div class="col-lg-2" >   
            <div class="input-group">
                <div class="input-group-addon">From Date</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="txtFromDate">
            </div>
        </div>
        <div class="col-lg-2">   
            <div class="input-group">
                <div class="input-group-addon">To date</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="txtToDate">
            </div>
        </div>-->
    <div class="col-lg-2">   
        <div class="input-group">
            <div class="input-group-addon">Do No.</div>
            <input type="text" class="form-control txt-filter" id="do_num">
        </div>
    </div>
    <div class="col-lg-2">   
        <div class="input-group">
            <div class="input-group-addon">STS NO</div>
            <input type="text" class="form-control txt-filter" id="sts_no">
        </div>
    </div>
    <div class="col-lg-2">   
        <div class="input-group">
            <div class="input-group-addon">Cust PO</div>
            <input type="text" class="form-control txt-filter" id="cust_po">
        </div>
    </div>
    <div class="col-lg-2">   
        <label class="custom-checkbox">
            <input type="checkbox" name='duplicate' />
            <span class="checkmark"></span>
             Duplicate
        </label>
    </div>
    <div class="col-lg-4">   
        <button id="btnSearch" class="btn btn-info"><i class="fa fa-search"></i> &nbsp;ค้นหา</button>
    </div>
</div>

<div class="row" id="divReport" >
    <table class="table table-condensed table-bordered table-striped" id="tblReportHidden" hidden>
        <thead>
            <tr>
                <th>do num</th>
                <th>co num</th>
                <th>co line</th>  
                <th>CUST PO</th>
                <th>STS PO</th>
                <th>item</th>
                <th>Type/End</th>
                <th>NPS</th>
                <th>Grade</th>
                <th>Schedule</th>
                <th>Length</th>
                <th>Uf spec grid Col</th>
                <th>qty_shipped</th>
                <th>lot</th>
                <th>location</th>
                <th>sts no</th>
                <th>qty sts no</th>
                <th>sts no 2</th>
                <th>qty sts no2</th>
                <th>sts no 3</th>
                <th>qty sts no3</th>
                <th>remark</th>
            </tr>
        </thead>
    </table>

    <table class="table table-condensed table-bordered table-striped" id="tblReport" style="width:100%;">
        <thead>
            <tr>
                <th>do num</th>
                <th>co num</th>
                <th>co line</th>  
                <th>CUST PO</th>
                <th>STS PO</th>
                <th>item</th>
                <th>Type/End</th>
                <th>NPS</th>
                <th>Grade</th>
                <th>Schedule</th>
                <th>Length</th>
                <th>Uf spec grid Col</th>
                <th>qty_shipped</th>
                <th>lot</th>
                <th>location</th>
                <th>sts no</th>
                <th>qty sts no</th>
                <th>sts no 2</th>
                <th>qty sts no2</th>
                <th>sts no 3</th>
                <th>qty sts no3</th>
                <th>remark</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript">
    $("#txtFromDate,#txtToDate").datepicker({
        dateFormat: 'yy-mm-dd',
    });
    $("#txtFromDate,#txtToDate").val(GetToday());

    $("#btnSearch").click(function () {
        tblReportHidden();
        tblReport();
        });

    function tblReportHidden () {
        var tblReportId = '#tblReportHidden';
        var btnSearch = '#btnSearch';

        $.ajax({
            type: 'GET',
            url: "././module/RPT_DO_INVENTORY_DETAIL/data.php",
            dataType: 'json',
            beforeSend: function () {
            },
            data: {
                load: "ajax",
                do_num: $("#do_num").val(),
                sts_no: $("#sts_no").val(),
                cust_po: $("#cust_po").val(),
            },
            success: function (data) {
                if ($("input[name='duplicate']").is(':checked')) {
                    data = data.filter((v, i, a) => a.findIndex(t => (t.lot === v.lot)) === i);
                }
                $("#tblReportHidden").dataTable().fnDestroy();
                var table = $(tblReportId).DataTable({
                    scrollY: "60vh",
                    "scrollX": true,
                    scrollCollapse: true,
                    "aaData": data,
                    "paging": false,
//                        fixedColumns: {
//                            leftColumns: 1,
//                        },
                    "searching": false,
                    "bInfo": false,
                    "columns": [
                        {
                            "data": "do_num",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "co_num",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "width": 250,
                            "data": "co_line",
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "cust_po",
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "STS_PO",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "item",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_typeEnd",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_NPS",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_Grade",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_Schedule",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_length",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_spec",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "qty_shipped",
                            "render": function (data, type, row) {
                                var ret = data;
                                ret = "<span>" + formatMoney(data);
                                +"</span>";
                                return ret;
                            }
                        },
                        {
                            "data": "lot",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "loc",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "sts_no",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "qty_sts_no",
                            "render": function (data, type, row) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": "sts_no2",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "qty_sts_no2",
                            "render": function (data, type, row) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": "sts_no3",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "qty_sts_no3",
                            "render": function (data, type, row) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": {lot: "lot", remark: "remark"},
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                                let ret = data.remark;
                                return ret;
                            }
                        },
                    ],
                    'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                            "<'row'<'col-md-12'tr>>" +
                            "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
                    buttons: [
                        {
                            extend: 'print',
                            text: "<i class='fa fa-print'></i>&nbsp;Print",
                            title: '',
                        },
                        {
                            extend: 'excel',
                            text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                            title: 'รายงาน ' + GetCurrDateTime()
                        },
                    ],
                });
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });


        //SearchDataFn(tblReportId, btnSearch, tablecolumsArr, "DO INVENTORY DETAIL REPORT ", "ajax");
    };

        
    
    function tblReport () {
        var tblReportId = '#tblReport';
        var btnSearch = '#btnSearch';
        var OldHtml = $("#btnSearch").html();


        $.ajax({
            type: 'GET',
            url: "././module/RPT_DO_INVENTORY_DETAIL/data.php",
            dataType: 'json',
            beforeSend: function () {
                $("#btnSearch").html("<i class='fa fa-spinner fa-spin'>");
            },
            data: {
                load: "ajax",
                do_num: $("#do_num").val(),
                sts_no: $("#sts_no").val(),
                cust_po: $("#cust_po").val(),
            },
            success: function (data) {
                // remove duplicate data field lot 
                if ($("input[name='duplicate']").is(':checked')) {
                    data = data.filter((v, i, a) => a.findIndex(t => (t.lot === v.lot)) === i);
                }
                $(tblReportId).DataTable().clear();
                $(tblReportId).dataTable({
                    scrollY: '60vh',
                    "scrollX": true,
                    "paging": false,
                    "searching": false,
                    "aaData": data,
                    "initComplete": function (settings, json) {
                    },
                    fixedHeader: true,
                    destroy: true,
                    'processing': true,
                    "columns": [
                        {
                            "data": "do_num",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "co_num",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "width": 250,
                            "data": "co_line",
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "cust_po",
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "STS_PO",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "item",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_typeEnd",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_NPS",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_Grade",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_Schedule",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_length",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "Uf_spec",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = data;

                                return ret;
                            }
                        },
                        {
                            "data": "qty_shipped",
                            "render": function (data, type, row) {
                                var ret = data;
                                ret = "<span>" + formatMoney(data);
                                +"</span>";
                                return ret;
                            }
                        },
                        {
                            "data": "lot",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "loc",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "sts_no",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "qty_sts_no",
                            "render": function (data, type, row) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": "sts_no2",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "qty_sts_no2",
                            "render": function (data, type, row) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": "sts_no3",
                            "render": function (data, type, row) {
                                var ret = data;
                                return ret;
                            }
                        },
                        {
                            "data": "qty_sts_no3",
                            "render": function (data, type, row) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": {lot: "lot", remark: "remark"},
                            "className": "text-center",
                            "render": function (data, type, row, meta) {
                                let ret = `<input id='${data.lot}' type='text'  onChange=updateRemark("${data.lot}") value="${data.remark}" />`;
                                return ret;
                            }
                        },
                    ],
                    // 'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                    //         "<'row'<'col-md-12'tr>>" +
                    //         "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
                    // buttons: [
                    //     {
                    //         extend: 'print',
                    //         text: "<i class='fa fa-print'></i>&nbsp;Print",
                    //         title: '',
                    //     },
                    //     {
                    //         extend: 'excel',
                    //         text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                    //         title: 'รายงาน ' + GetCurrDateTime()
                    //     },
                    // ],
                });
                $('#tblReport').loading("stop");
                $("#btnSearch").html(OldHtml);
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });


        //SearchDataFn(tblReportId, btnSearch, tablecolumsArr, "DO INVENTORY DETAIL REPORT ", "ajax");
    };




    function updateRemark(lot) {
        let remark = $("#" + lot + "").val();

        $.ajax({
            type: 'POST',
            url: "././module/RPT_DO_INVENTORY_DETAIL/data.php",
            data: {
                load: "updateRemark",
                lot: lot,
                remark: remark,
            },
            success: function (data) {
                alert(data)
            }
        });
    }
</script>
