
<div class="row">
    <h4>General Ledger Detail Report</h4>
</div>

<div class='row'>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-2 text-left input-group-addon" style="width:100px;padding-top:7px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;">
        Account            
    </div>

    <div class="col-6 col-sm-6 col-xs-6 col-md-6 col-lg-6" style="padding-right:50px;padding-left:0px;">

        <div class="row" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-left:0px;padding-bottom:0px;">
            <select class="form-control" id="SelAcct" >
                {options_acct}
            </select>

        </div>
    </div>

    

    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 " >
        <div class='row' style="margin-top:0px;">
            <div class="input-group">
                <div class="input-group-addon">Year</div>
                <select class="form-control" id="selYear">

                </select>
            </div>
        </div>

        <div class='row'>
            <div class="input-group">
                <div class="input-group-addon">FROM Month</div>
                <select class="form-control" id="selMonth" >
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-addon">To Month</div>
                <select class="form-control" id="selMonth2">
                </select>
            </div>
        </div>
    </div>


    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-left">
        <button class="btn btn-info" id="btnSearch"><i class="fa fa-search"></i>&nbsp;Search </button>
    </div>

</div>

<!-- -- -->
<div class="col-lg-2 col-md-2 col-sm-6 col-xs-2 text-left input-group-addon" style="width:100px;padding-top:7px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;">
    Department            
</div>

<div class="col-6 col-sm-6 col-xs-6 col-md-6 col-lg-6" style="padding-right:50px;padding-left:0px;">

    <div class="row" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-left:0px;padding-bottom:0px;">
        <select class="form-control" id="SelUnit1" >
            {options_unit1}
        </select>

    </div>
</div>
<!-- --- -->

<div class="row" id="rowResultTable">
    <table class="table table-condensed table-striped " width="100%" id="tblReport">
        <thead>
            <tr>
                <th>acct</th>
                <th>acct_desc</th>
                <th>acct_unit1</th>
                <th>Dept1</th>
                <th>acct_unit2</th>
                <th>Dept2</th>
                <th>acct_unit3</th>
                <th>Dept3</th>
                <th>acct_unit4</th>
                <th>Dept4</th>
                <th>trans_date</th>
                <th>dom_amount</th>
                <th>ref</th>
                <th>control_year</th>
                <th>control_period</th>
            </tr>
        </thead>

    </table>
</div>
<script type="text/javascript">
    //Init render page environment //
    $(document).ready(function () {
        $('#SelAcct').selectize({
            // plugins: ['remove_button'],
            // delimiter: ',',
            persist: false,
            create: function (input) {
                return {
                    value: input,
                    text: input
                }
            }
        });

        $('#SelUnit1').selectize({
            // plugins: ['remove_button'],
            // delimiter: ',',
            persist: false,
            create: function (input) {
                return {
                    value: input,
                    text: input
                }
            }
        });
    });
    GetYearMonth("selYear", "selMonth");
    GetYearMonth("selYear2", "selMonth2");

    $("#btnSearch").click(function () {
        ReportItemSearch();
    });
    $("#txtStartDate,#txtEndDate").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    function ReportItemSearch() {
        var OldHtml = $("#btnSearch").html();
        // var Acct = [];
        var Acct = $("#SelAcct").val();
        var Unit1 = $("#SelUnit1").val();
        // console.log(Acct);
        // console.log(Unit1);
        var selYear = $("#selYear").val();
        var selMonth = $("#selMonth").val();
        var selMonth2 = $("#selMonth2").val();

        if (Acct == "" && Unit1 == "")  {
            $.alert("Please select Account or Department ");
            return false;
        } else if (Acct == null && Unit1 == "") {
            $.alert("กรุณาเลือก Account or Department ");
            return false;
        } else {
        //     Acct = Acct + ',';
//            console.log("Year : " + selYear + " Month : " + selMonth + " Acct : " + Acct);
            $("#btnSearch").html("<i class='fa fa-spinner fa-spin'></i>");
            $("#tblReport").loading();
            $.ajax({
                type: 'GET',
                url: "././module/RPTGL_DETAIL/data.php",
                //  contentType: "text/plain",
                dataType: 'json',
                beforeSend: function () {
                    $("#btnSearch").html("<i class='fa fa-spinner fa-spin'>");
                },
                data: {
                    "load": "ajax",
                    "selYear": selYear,
                    "selMonth": selMonth,
                    "selMonth2": selMonth2,
                    "Acct": Acct,
                    "Unit1": Unit1
                },
                success: function (data) {

                    $("#tblReport").DataTable().clear();
                    $('#tblReport').dataTable({
                        "ordering": false,
                        // "aaSorting": [],
                        "aaData": data,
                        "paging": false,
                        destroy: true,
                        'processing': true,
                        "columns": [
                            {
                                "data": "acct",
                                "className": "text-center",
                                "width": "5%",
                            },
                            {
                                "data": "acct_desc",
                                "className": "text-center",
                                "width": "10%"
                            },
                            {
                                "data": "acct_unit1",
                                "className": "text-center",
                                "width": "5%"
                            },
                            {
                                "data": "Dept1",
                                "className": "text-center",
                                "width": "10%"
                            },
                            {
                                "data": "acct_unit2",
                                "className": "text-center",
                                "width": "5%"
                            },
                            {
                                "data": "Dept2",
                                "className": "text-center",
                                "width": "10%"
                            },
                            {
                                "data": "acct_unit3",
                                "className": "text-center",
                                "width": "5%"
                            },
                            {
                                "data": "Dept3",
                                "className": "text-center",
                                "width": "10%"
                            },
                            {
                                "data": "acct_unit4",
                                "className": "text-center",
                                "width": "5%"
                            },
                            {
                                "data": "Dept4",
                                "className": "text-center",
                                "width": "10%"
                            },
                            {
                                "data": "trans_date",
                                "className": "text-center",
                                "width": "5%",
                                "render": function (data, type, row, meta) {
                                    var ret = addCommas(String(data));
                                    return ret;
                                }
                            },
                            {
                                "data": "dom_amount",
                                "className": "text-right",
                                "width": "10%",
                                "render": function (data, type, row, meta) {
                                    var ret = addCommas(parseFloat(data).toFixed(2));
                                    return ret;
                                }
                            },
                            {
                                "data": "ref",
                                "className": "text-center",
                                "width": "20%"
                            },
                            {
                                "data": "control_year",
                                "className": "text-center",
                                "width": "5%"
                            },
                            {
                                "data": "control_period",
                                "className": "text-center",
                                "width": "5%"
                            },
                           
                        ],
                        'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                                "<'row'<'col-md-12'tr>>" +
                                "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
                        buttons: [{
                                extend: 'print',
                                text: "<i class='fa fa-print'></i>&nbsp;Print",
                                title: 'LedgerReport'
                            },
                            {
                                extend: 'excel',
                                footer: true,
                                text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                                title: 'LedgerReportDetail'
                            },
                        ],
                    });
                    $('#tblReport').loading("stop");
                    $("#btnSearch").html(OldHtml);
                },
                error: function (e) {

                    console.log("There was an error with your request...");
                    console.log("error: " + JSON.stringify(e));
                }
            });
        }
    }

    $("#StartDate,#EndDate").datepicker({
        dateFormat: 'yy-mm-dd'
    });
</script>
