<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
        color: #0073ee;

    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }


    .col-search {
        padding-left: 3px;
        padding-right: 3px;
    }

    .table thead th {
        text-align: center;
    }

    .col-flt-page {
        padding-top: 10px;
        font-weight: bold;
    }

    #tblReport tbody tr td a {
        cursor: pointer;
    }
    table.dataTable.fixedHeader-floating,
    table.dataTable.fixedHeader-locked {
        background-color: white;
        margin-top: 50px !important;
        margin-bottom: 0 !important;
    }

    .tr-row-cn td {
        color: red;
    }
    .selectize-input{
        min-height: 80px;
    }
    .panel-body{
        padding-top:5px;
        padding-bottom:5px;
    }
</style>
<div class="tab">
    <button class="tablinks" id="btnTabHeader" style="width:50%;" onclick="OpenTab(this.id, 'header')">ใบรับมัดจำ Header</button>
    <!-- <button class="tablinks" id="btnTabHeadersummary" style="width:33%;" onclick="OpenTab(this.id, 'header_summary');">สรุปใบรับมัดจำ</button> -->
    <button class="tablinks" id="btnTabDetail"  style="width:50%;" onclick="OpenTab(this.id, 'detail')">ใบรับมัดจำ Detail</button>
</div>

<div id="header" class="tabcontent">
    <div hidden class='row'>      

        <div  class="col-lg-2 col-md-2 col-sm-6 col-xs-6 " >            
            <div class="input-group">
                <div class="input-group-addon">Year</div>
                <select class="form-control" id="selYear">
                    <option value="ALL" selected>-- ทั้งหมด --</option>
                </select>
            </div>            
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 " >
            <div class="input-group">
                <div class="input-group-addon">Month</div>
                <select class="form-control" id="selMonth">
                    <option value="ALL" selected>-- ทั้งหมด --</option>
                </select>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-left">
            <button class="btn btn-info" OnClick="ReportItemSearch2();" id="btnSearch2"><i class="fa fa-search"></i>&nbsp;Search </button>
        </div>

    </div>
    <div class="row" id="rowResultTable2">
        <table class="table table-condensed table-striped " width="100%" id="tblReport2">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Inv date</th>
                    <th>Inv Num</th>
                    <th>Inv Ref</th>                   
                    <th>cust_num</th>
                    <th>description</th>
                    <th>ยอดเงินมัดจำ</th>
                    <th>ยอดหัก</th>
                    <th>tax</th>
                    <th>ยอดคงเหลือ</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- Start header summary -->
<div id="header_summary" class="tabcontent"> 
    <div class="row" id="rowResultTableSummary">
        <table class="table table-condensed table-striped " width="100%" id="tblReportSummary">
            <thead>
                <tr>
                    <th>inv_date</th>
                    <th>inv_num</th>
                    <th>name</th>
                    <th>amt_dps </th>
                    <th>amt_used</th>
                    <th>amt_remain</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- end header summary -->



<div id="detail" class="tabcontent">
    <div class='row'>
        <div class="panel panel-primary">

            <div class="panel panel-heading">Filter <a id="btnToggleFilter" class="pull-right" style="color:red;">(ซ่อน / แสดง  filter)</a></div>
            <div class="panel panel-body" style="padding-left:20px;">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-left:30px;">
                        <div class="row">
                            Customer Select ( multiple selection )
                        </div>
                        <div class='row'>
                            <select class="form-control" id="selCust" multiple="multiple" style="display:none;height:100px;">
                                <!--<option value="" selected>ทั้งหมด</option>-->
                                {customer_data}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-8 col-lg-8" style="padding-top:25px;">
                        <div class="row">
                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">                            
                                <div class="input-group">
                                    <div class="input-group-addon">Item</div>
                                    <input type="text" class="form-control txt-filter" id="txtItem">
                                </div>
                            </div>
                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">    
                                <div class="input-group">
                                    <div class="input-group-addon">ขนาด</div>
                                    <input type="text" class="form-control txt-filter" id="txtSize">
                                </div>
                            </div>
                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">      
                                <div class="input-group">
                                    <div class="input-group-addon">หนา</div>
                                    <input type="text" class="form-control txt-filter" id="txtThick">
                                </div>
                            </div>
                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">    
                                <div class="input-group">
                                    <div class="input-group-addon">ยาว</div>
                                    <input type="text" class="form-control txt-filter" id="txtWidth">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">   
                                <div class="input-group">
                                    <div class="input-group-addon">From date</div>
                                    <input type="text" class="form-control txt-filter" id="txtFromDate">
                                </div>
                            </div>
                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">   
                                <div class="input-group">
                                    <div class="input-group-addon">To date</div>
                                    <input type="text" class="form-control txt-filter" id="txtToDate">
                                </div>
                            </div>
                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">   
                                <div class="input-group">
                                    <div class="input-group-addon">From INV.</div>
                                    <input type="text" class="form-control txt-filter" id="txtFromInv">
                                </div>
                            </div>
                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">   
                                <div class="input-group">
                                    <div class="input-group-addon">To INV.</div>
                                    <input type="text" class="form-control txt-filter" id="txtToInv">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-xs-6 col-sm-6 col-md-10 col-lg-10">   
                                <h6 style="color:red;">
                                    *เลือกความ หนา-ยาว ตามช่วงให้ใช้ '-' เช่น เลือกตั้งแต่ 1 ถึง 6 ให้ใส่ '1-6' แต่ถ้าหากระบุ 6 ตัวเดียวระบบจะหาข้อมูลที่เป็น 6 เท่านั้น*</h6>
                            </div>
                            <div class="col-6 col-xs-6 col-sm-6 col-md-2 col-lg-2 text-right">   
                                <button id="btnSearch" class="btn btn-info"><i class="fa fa-search"></i>&nbsp;ค้นหา</button>  
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="divReport" style="height:450px;width:100%;overflow-x: auto;">
        <table class="table table-condensed table-bordered table-striped" id="tblReport" style="width:150%;max-width: 150%;">
            <thead>
                <tr>
                    <th>Inv Date</th>
                    <th>Inv Num</th>
                    <th style="color:red;">(ref)Inv Num</th>
                    <th>Customer</th>
                    <th>Item</th>  
                    <th>Description</th>  
                    <th>Unit Weight</th>
                    <th>U_M</th>
                    <th>QTY(PCS)</th>
                    <th>Weight(KG)</th>
                    <th>Price/PCS</th>
                    <th>Price/KG</th>
                    <th>Discount</th>
                    <th>Amount</th>
<!--                    <th>Vat</th>
                    <th>Total</th>-->
                </tr>
            </thead>
            <!--        <tbody id="tblReportList">
                        </tbody>-->
        </table>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width:60%;">
            <div class="modal-content">
                <div class="modal-header">
                    Customer Search
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:red;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="BodyModal">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
                $(document).ready(function () {
                    $('#selCust').selectize({
                        plugins: ['remove_button'],
                        delimiter: ',',
                        persist: false,
                        create: function (input) {
                            return {
                                value: input,
                                text: input
                            }
                        }
                    });
                });

//    $("#txtFromDate,#txtToDate").val(GetToday());

                $("#txtFromDate , #txtToDate").datepicker({
                    dateFormat: 'yy-mm-dd',
                });
                $("#btnSearch").click(function () {
                    ReportItemSearch();
                });

                $(".txt-filter").on("keypress", function (e) {
                    if (e.keyCode == 13) {
                        ReportItemSearch();
                        return false; // prevent the button click from happening
                    }
                });
                function ReportItemSearch() {
                    var Customers = [];
                    Customers = $("#selCust").val();
                    $("#tblReport tbody").empty();
                    $("#tblReport tfoot").remove();

                    var OldHtml = $("#btnSearch").html();
                    var txtItem = $("#txtItem").val();
                    var txtSize = $("#txtSize").val();
                    var txtThick = $("#txtThick").val();
                    var txtWidth = $("#txtWidth").val();
                    var txtFromDate = $("#txtFromDate").val();
                    var txtToDate = $("#txtToDate").val();
                    var txtFromInv = $("#txtFromInv").val();
                    var txtToInv = $("#txtToInv").val();


                    var prj_code = "{prj_code}";
                    var ajaxUrl = "././module/" + prj_code + "/data.php";

                    $.ajax({
                        type: 'POST',
                        url: ajaxUrl,
                        //                contentType: "text/plain",
                        dataType: 'json',
                        beforeSend: function () {
                            $("#btnSearch").html("<i class='fa fa-spinner fa-spin'></i>");
                            $('#tblReport').loading();
                        },
                        data: {
                            "load": "ajax",
                            "txtItem": txtItem,
                            "Customers": Customers,
                            "txtSize": txtSize,
                            "txtThick": txtThick,
                            "txtWidth": txtWidth,
                            "txtFromDate": txtFromDate,
                            "txtToDate": txtToDate,
                            "txtFromInv": txtFromInv,
                            "txtToInv": txtToInv,
                        },
                        success: function (data) {
                            $("#tblReport").DataTable().clear();
                            var RowFooterBuild = "";
                            var ColBuild = "";
                            var ColCount = 16;
                            var i = 0;
                            RowFooterBuild = "<tfoot><tr>!!ColBuild!!</tr></tfoot>";
                            for (i = 1; i <= ColCount; i++) {
                                ColBuild += "<td></td>";
                            }
                            $("#tblReport").append(RowFooterBuild.replace("!!ColBuild!!", ColBuild));
                            $('#tblReport').dataTable({
                                "aaData": data,
                                "paging": false,
                                "initComplete": function (settings, json) {
                                    ReCalGridAmount();
                                },
                                fixedHeader: true,
                                destroy: true,
                                'processing': true,
                                "columns": [
                                    {"data": "inv_date_conv", "className": "text-center"},
                                    {"data": "inv_num"},
                                    {"data": "Uf_Ref_InvNum",
                                        "render": function (data, type, row, meta) {
                                            var ret = "<font style='color:red;'>" + data + "</font>";
                                            return ret;
                                        }},
                                    {"data": "name"},
                                    {"data": "item"},
                                    {"data": "description"},
                                    {"data": "item_weight", "className": "text-right", "render": function (data, type, row, meta) {
                                            var ret = addCommas(parseFloat(data).toFixed(2));
                                            return ret;
                                        }},
                                    {"data": "Uf_Inv_Um", "className": "text-center"},
                                    {
                                        "data": "ActQtyPcs",
                                        "className": "text-right",
                                        "render": function (data, type, row, meta) {
                                            var ret = addCommas(parseFloat(data).toFixed(2));
                                            return ret;
                                        }
                                    },
                                    {
                                        "data": "qty_invoiced",
                                        "className": "text-right",
                                        "render": function (data, type, row, meta) {
                                            var ret = addCommas(parseFloat(data).toFixed(2));
                                            return ret;
                                        }
                                    },
                                    {
                                        "data": "price",
                                        "className": "text-right",
                                        "render": function (data, type, row) {
                                            var ret = addCommas(parseFloat(data).toFixed(2));
                                            return ret;
                                        }
                                    },
                                    {
                                        "data": "Uf_PricePerKG",
                                        "className": "text-right",
                                        "render": function (data, type, row) {
                                            var ret = addCommas(parseFloat(data).toFixed(2));
                                            return ret;
                                        }
                                    },
                                    {
                                        "data": "disc",
                                        "className": "text-right",
                                        "render": function (data, type, row, meta) {
                                            var ret = addCommas(parseFloat(data).toFixed(2));
                                            return ret;
                                        }
                                    },
                                    {
                                        ///amt///
                                        "data": "amt",
                                        "className": "text-right",
                                        "render": function (data, type, row) {
                                            var ret = addCommas(parseFloat(data).toFixed(2));
                                            return ret;
                                        }
                                    },
//                                    {
//                                        "data": "vat",
//                                        "className": "text-right",
//                                        "render": function (data, type, row) {
//                                            var ret = addCommas(parseFloat(data).toFixed(2));
//                                            return ret;
//                                        }
//                                    },
//                                    {
//                                        "data": "amt_total",
//                                        "className": "text-right",
//                                        "render": function (data, type, row, meta) {
//                                            var ret = addCommas(parseFloat(data).toFixed(2));
//                                            return ret;
//                                        }
//                                    }
                                ],
                                'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                                        "<'row'<'col-md-12'tr>>" +
                                        "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
                                buttons: [{
                                        extend: 'print',
                                        text: "<i class='fa fa-print'></i>&nbsp;Print",
                                        title: ''
                                    },
                                    {
                                        extend: 'excel',
                                        footer: true,
                                        text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                                        title: 'ใบรับมัดจำ detail ' + GetCurrDateTime()
                                    },
                                ],
                                "footerCallback": function (row, data, start, end, display) {
                                    var api = this.api(),
                                            data;

                                    // converting to interger to find total
                                    var intVal = function (i) {
                                        return typeof i === 'string' ?
                                                i.replace(/[\$,]/g, '') * 1 :
                                                typeof i === 'number' ?
                                                i : 0;
                                    };

                                    // computing column Total of the complete result
//                                    var totalWeight = api
//                                            .column(8)
//                                            .data()
//                                            .reduce(function (a, b) {
//                                                return intVal(a) + intVal(b);
//                                            }, 0);
//                                    var totalDisc = api
//                                            .column(11)
//                                            .data()
//                                            .reduce(function (a, b) {
//                                                return intVal(a) + intVal(b);
//                                            }, 0);
                                    var totalAmount = api
                                            .column(12)
                                            .data()
                                            .reduce(function (a, b) {
                                                return intVal(a) + intVal(b);
                                            }, 0);

                                    var totalVat = api
                                            .column(13)
                                            .data()
                                            .reduce(function (a, b) {
                                                return intVal(a) + intVal(b);
                                            }, 0);
                                    var totalNetAmount = api
                                            .column(14)
                                            .data()
                                            .reduce(function (a, b) {
                                                b
                                                return intVal(a) + intVal(b);
                                            }, 0);
//                                    $(api.column(7).footer()).html('Total');
//                                    $(api.column(8).footer()).html(addCommas(totalWeight.toFixed(2)));
//                                    $(api.column(11).footer()).html(addCommas(totalDisc.toFixed(2)));
                                    $(api.column(13).footer()).html(addCommas(totalAmount.toFixed(2)));
                                    $(api.column(14).footer()).html(addCommas(totalVat.toFixed(2)));
                                    $(api.column(15).footer()).html(addCommas(totalNetAmount.toFixed(2)));
                                },
                            });
                            $('#tblReport').loading("stop");
                            $("#btnSearch").html(OldHtml);
                            $(".panel-body").slideToggle("slow");
                            // ReCalGridAmount();
                        },
                        error: function (e) {
                            console.log("There was an error with your request...");
                            console.log("error: " + JSON.stringify(e));
                        }
                    });
                }
                GetYearMonth("selYear", "selMonth");

                //======= header Summary header ==============
                function ReportItemSearchSummary() {

                    $("#tblReportSummary tbody").empty();
                    $("#tblReportSummary tfoot").empty();

                    var prj_code = "{prj_code}";
                    var ajaxUrl = "././module/" + prj_code + "/data.php";
                    $.ajax({
                        type: 'POST',
                        url: ajaxUrl,
                        dataType: 'json',
                        beforeSend: function () {
                            $("#btnSearchSummary").html("<i class='fa fa-spinner fa-spin'></i>");
                            $('#tblReport2').loading();
                        },
                        data: {
                            "load": "ajax3",
                        },
                        success: function (data) {
                            console.log(data);
                            $("#tblReportSummary").DataTable().clear();
                            $('#tblReportSummary').dataTable({
                                "searching": false,
                                "aaData": data,
                                "aaSorting": [[0, 'asc']],
                                "paging": false,
                                fixedHeader: true,
                                destroy: true,
                                'processing': true,
                                "columns": [
                                    {
                                        "data": "inv_date_con",
                                        "className": "text-center",
                                    },
                                    {
                                        "data": "inv_num",
                                        "className": "text-center",
                                    },
                                    {"data": "name"},
                                    {
                                        "data": "amt_dps",
                                        "className": "text-right",
                                        "render": function (data, type, row) {
                                            var ret = addCommas(parseFloat(row["amt_dps"]).toFixed(2));
                                            return ret;
                                        }
                                    },
                                    {
                                        "data": "amt_used",
                                        "className": "text-right",
                                        "render": function (data, type, row) {
                                            var ret = addCommas(parseFloat(row["amt_used"]).toFixed(2));
                                            return ret;
                                        }
                                    },
                                    {
                                        "data": "amt_remain",
                                        "className": "text-right",
                                        "render": function (data, type, row) {
                                            var ret = addCommas(parseFloat(row["amt_remain"]).toFixed(2));
                                            return ret;
                                        }
                                    },
                                ],
                            });
                            $('#tblReport2').loading("stop");
                            $("#btnSearchSummary").html(OldHtml);

                        },
                        error: function (e) {
                            console.log("There was an error with your request...");
                            console.log("error: " + JSON.stringify(e));
                        }
                    });
                }
                //======= header Summary footer =========


ReportItemSearch2()
                function ReportItemSearch2() {

                    $("#tblReport2 tbody").empty();
                    $("#tblReport2 tfoot").empty();

                    var OldHtml = $("#btnSearch2").html();
                    var selYear = $("#selYear").val();
                    var selMonth = $("#selMonth").val();

                    var prj_code = "{prj_code}";
                    var ajaxUrl = "././module/" + prj_code + "/data.php";
//                    console.log(ajaxUrl);
//                    console.log(selYear);
//                    console.log(selMonth);
                    $.ajax({
                        type: 'POST',
                        url: ajaxUrl,
                        dataType: 'json',
                        beforeSend: function () {
                            $("#btnSearch2").html("<i class='fa fa-spinner fa-spin'></i>");
                            $('#tblReport2').loading();
                        },
                        data: {
                            "load": "ajax2",
                            "selYear": selYear,
                            "selMonth": selMonth,
                        },
                        success: function (data) {
                            console.log(data);
                            $("#tblReport2").DataTable().clear();
                            $('#tblReport2').dataTable({
                                "aaData": data,
                                "aaSorting": [[0, 'asc']],
                                "paging": false,
                                fixedHeader: true,
                                destroy: true,
                                'processing': true,
                                "columns": [
                                    {"data": "id"},
                                    {"data": "inv_date", "className": "text-center",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }
                                    },
                                    {"data": "inv_num",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }},
                                    {"data": "inv_ref",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }},
                                    {"data": "cust_num",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }},
                                    {"data": "description",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }},
                                    {"data": "amount_deposit_total", "className": "text-right",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }},
                                    {"data": "amount", "className": "text-right",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }},
                                    {"data": "tax", "className": "text-right",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }},
                                    {"data": "amount_remain", "className": "text-right",
                                        "render": function (data, type, row, meta) {
                                            var ret = "";
                                            if (row["description"] == "สรุปยอดมัดจำคงเหลือ") {
                                                ret = "<font style='color:red;font-weight:bold;'>" + data + "</font>";
                                            } else if (row["description"] == "รับเงินมัดจำ") {
                                                ret = "<font style='color:green;font-weight:bold;'>" + data + "</font>";
                                            } else {
                                                ret = data;
                                            }
                                            return ret;
                                        }},
                                ],
                                'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                                        "<'row'<'col-md-12'tr>>" +
                                        "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
                                buttons: [{
                                        extend: 'print',
                                        text: "<i class='fa fa-print'></i>&nbsp;Print",
                                        title: ''
                                    },
                                    {
                                        extend: 'excel',
                                        footer: true,
                                        text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                                        title: 'ใบรับมัดจำ header ' + GetCurrDateTime()
                                    },
                                ]

                            });
                            $('#tblReport2').loading("stop");
                            $("#btnSearch2").html(OldHtml);

                        },
                        error: function (e) {
                            console.log("There was an error with your request...");
                            console.log("error: " + JSON.stringify(e));
                        }
                    });
                }
//        }

//    }



                $(".panel-heading").click(function () {
                    $(".panel-body").slideToggle("slow");
                });
</script>

<script type="text/javascript">


    function OpenTab(tid, tab) {
//        if (tab == 'header') {
//            ReportItemSearch2()
//        }

        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tab).style.display = "block";

        if (!$("#" + tid).hasClass("active")) {
            $("#" + tid).addClass("active");
        }

        if (tab == "header_summary") {
            ReportItemSearchSummary();
        }



    }
    $("#btnTabHeader").click();


    function ReCalGridAmount() {
        var GrandAmount = 0;
        var GrandVat = 0;
        var GrandTotal = 0;
        var i = 0;
        $("#tblReport tbody tr ").each(function () {
            GrandAmount += parseFloat($(this).find("td:eq(13)").text().replace(",", "").replace(",", ""));
            GrandVat += parseFloat($(this).find("td:eq(14)").text().replace(",", "").replace(",", ""));
            GrandTotal += parseFloat($(this).find("td:eq(15)").text().replace(",", "").replace(",", ""));
            i++;
        });
        var x = 0;
        $("#tblReport tfoot tr:eq(0)").find("td:eq(13)").text(addCommas(GrandAmount.toFixed(2)));
        $("#tblReport tfoot tr:eq(0)").find("td:eq(14)").text(addCommas(GrandVat.toFixed(2)));
        $("#tblReport tfoot tr:eq(0)").find("td:eq(15)").text(addCommas(GrandTotal.toFixed(2)));
    }

</script>
