<style>
  .enduser-report .col-search {
    padding-left: 3px;
    padding-right: 3px;
  }

  .enduser-report .table thead th {
    text-align: center;
    white-space: nowrap;
  }

  .enduser-report .col-flt-page {
    padding-top: 10px;
    font-weight: bold;
  }

  .enduser-report table.dataTable.fixedHeader-floating,
  .enduser-report table.dataTable.fixedHeader-locked {
    background-color: white;
    margin-top: 50px !important;
    margin-bottom: 0 !important;
  }

  .enduser-report .report-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 15px;
  }

  .enduser-report .summary-box {
    margin-top: 12px;
  }

  .enduser-report .item-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .enduser-report .filter-row {
    align-items: center;
    gap: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .enduser-report .filter-field {
    float: none;
    width: 280px;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .enduser-report .filter-action {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .enduser-report .txt-book-cont {
    min-width: 70px;
    text-align: center;
  }

  .enduser-report .txt-po-select {
    min-width: 180px;
  }

  .enduser-report .select2-container {
    min-width: 180px;
  }

  .enduser-report .select2-container--default .select2-selection--multiple,
  .enduser-report .select2-container .select2-choice,
  .enduser-report .select2-container-multi .select2-choices {
    background-color: #fff;
    border: 1px solid #9aa9ba;
    border-radius: 4px;
    min-height: 32px;
  }

  .enduser-report .select2-container--default .select2-selection--multiple .select2-selection__choice,
  .enduser-report .select2-container-multi .select2-choices .select2-search-choice {
    background: #e8f0fe;
    border: 1px solid #4f7dc8;
    color: #20334d;
    font-weight: 600;
  }

  .enduser-report .select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
  .enduser-report .select2-container-multi .select2-choices .select2-search-choice-close {
    color: #2f5f9f;
  }

  .enduser-report .select2-container--default .select2-selection--multiple .select2-search__field,
  .enduser-report .select2-container-multi .select2-choices .select2-search-field input {
    color: #2c3e50;
    font-weight: 500;
  }

  .enduser-report .select2-container--default .select2-selection--multiple .select2-search__field::placeholder,
  .enduser-report .select2-container-multi .select2-choices .select2-search-field input::placeholder {
    color: #6e7f90;
    opacity: 1;
  }
</style>

<div class="enduser-report">
  <div class="row">
    <h4 class="report-title text-center">Summary by End User and Port</h4>
  </div>

  <div class="row item-center filter-row">
    <div class="filter-field col-search">
      <div class="input-group">
        <div class="input-group-addon">End User</div>
        <input type="text" class="form-control txt-filter" id="endUser_enduser" autocomplete="off">
      </div>
    </div>
    <div class="filter-field col-search">
      <div class="input-group">
        <div class="input-group-addon">Transport</div>
        <input type="text" class="form-control txt-filter" id="transport_enduser" autocomplete="off">
      </div>
    </div>
    <div class="filter-field col-search">
      <div class="input-group">
        <div class="input-group-addon">Port</div>
        <input type="text" class="form-control txt-filter" id="port_enduser" autocomplete="off">
      </div>
    </div>
    <div class="filter-field col-search">
      <div class="input-group">
        <div class="input-group-addon">Cust PO</div>
        <input type="text" class="form-control txt-filter" id="custpo_enduser" autocomplete="off">
      </div>
    </div>
    <div class="filter-field col-search">
      <div class="input-group">
        <div class="input-group-addon">Order Date</div>
        <input type="text" class="form-control txt-filter" id="orderdate_enduser" autocomplete="off">
      </div>
    </div>
    <div class="filter-field col-search">
      <div class="input-group">
        <div class="input-group-addon">Item</div>
        <input type="text" class="form-control txt-filter" id="item_enduser" autocomplete="off">
      </div>
    </div>
    <div class="filter-action col-search">
      <button id="btnSearchEndUserPort" class="btn btn-info">
        <i class="fa fa-search"></i>&nbsp; Search
      </button>
    </div>
  </div>

  <div class="row summary-box">
    <table class="table table-condensed table-bordered table-striped" id="tblEndUserPortReport" style="width:100%;">
      <thead>
        <tr>
          <th class="bg-gray">End User</th>
          <th class="bg-gray">Transport</th>
          <th class="bg-gray">Port</th>
          <th class="bg-gray">Balance BDL</th>
          <th class="bg-gray">Balance MT</th>
          <th class="bg-gray">Ready Bundle</th>
          <th class="bg-gray">Ready Bundle MT</th>
          <th class="bg-gray">No Cont 40</th>
          <th class="bg-gray">PO 40</th>
          <th class="bg-gray">No Cont 45</th>
          <th class="bg-gray">PO 45</th>
          <th class="bg-gray">BULK</th>
          <th class="bg-gray">PO BULK</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<script type="text/javascript">
  var poOptionMap = {};

  $("#orderdate_enduser").datepicker({
    dateFormat: "yy-mm-dd",
  });

  $("#btnSearchEndUserPort").click(function () {
    ReportEndUserPortSearch();
  });

  function parseEndUserReportNumber(value) {
    var num = parseFloat((value || 0).toString().replace(/,/g, ""));
    return isNaN(num) ? 0 : num;
  }

  function escapeEndUserAttr(value) {
    return (value || "").toString()
      .replace(/&/g, "&amp;")
      .replace(/"/g, "&quot;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;");
  }

  function renderBookContInput(data, type, row, meta, fieldName) {
    var value = data === null || data === undefined ? "" : data;

    if (type !== "display") {
      return value;
    }

    return '<input type="number" min="0" max="255" class="form-control input-sm txt-book-cont" ' +
      'data-field="' + fieldName + '" ' +
      'data-end-user="' + escapeEndUserAttr(row.endUser) + '" ' +
      'data-port="' + escapeEndUserAttr(row.Port) + '" ' +
      'value="' + escapeEndUserAttr(value) + '">';
  }

  function parsePOList(value) {
    if ($.isArray(value)) {
      return value;
    }
    if (value === null || value === undefined || value === "") {
      return [];
    }
    return value.toString().split(",").map(function (item) {
      return $.trim(item);
    }).filter(function (item) {
      return item !== "";
    });
  }

  function formatPOExport(value) {
    return parsePOList(value).join(", ");
  }

  function getEndUserPortKey(endUser, port) {
    return (endUser || "") + "|" + (port || "");
  }

  function renderPOSelect(data, type, row, meta, fieldName) {
    var value = data === null || data === undefined ? "" : data;

    if (type !== "display") {
      return formatPOExport(value);
    }

    return '<select multiple class="form-control input-sm txt-po-select" ' +
      'data-field="' + fieldName + '" ' +
      'data-end-user="' + escapeEndUserAttr(row.endUser) + '" ' +
      'data-port="' + escapeEndUserAttr(row.Port) + '" ' +
      'data-value="' + escapeEndUserAttr(value) + '"></select>';
  }

  function exportEndUserCell(data, row, column, node) {
    var input = $(node).find("input");
    if (input.length > 0) {
      return input.val();
    }
    return typeof data === "string" ? data.replace(/<[^>]*>?/gm, "") : data;
  }

  function syncPOSelectsToRows() {
    var table = $("#tblEndUserPortReport").DataTable();
    $("#tblEndUserPortReport tbody tr").each(function () {
      var tr = $(this);
      var rowData = table.row(tr).data();
      if (!rowData) {
        return;
      }
      rowData.po_40 = getPOSelectValue(tr, "po_40");
      rowData.po_45 = getPOSelectValue(tr, "po_45");
      rowData.po_bulk = getPOSelectValue(tr, "po_bulk");
    });
  }

  function initPOSelects() {
    $("#tblEndUserPortReport .txt-po-select").each(function () {
      var select = $(this);
      if (select.data("po-loaded")) {
        return;
      }

      var savedValues = parsePOList(select.data("value"));
      select.data("po-loaded", true);
      select.data("initializing", true);
      var options = {};
      var mapKey = getEndUserPortKey(select.data("end-user"), select.data("port"));
      var poList = poOptionMap[mapKey] || [];

      $.each(poList, function (i, row) {
        if (row && row.cust_po) {
          options[row.cust_po] = row.cust_po;
        }
      });
      $.each(savedValues, function (i, value) {
        options[value] = value;
      });
      $.each(options, function (value, text) {
        select.append($("<option>", {
          value: value,
          text: text
        }));
      });
      select.select2({
        width: "180px",
        placeholder: "Select PO"
      });
      select.val(savedValues).trigger("change.select2");
      select.data("initializing", false);
    });
  }

  function buildPOBatchKeys(rows) {
    var exists = {};
    var keys = [];
    $.each(rows || [], function (i, row) {
      if (!row || !row.endUser || !row.Port) {
        return;
      }
      var key = getEndUserPortKey(row.endUser, row.Port);
      if (exists[key]) {
        return;
      }
      exists[key] = true;
      keys.push({
        endUser: row.endUser,
        port: row.Port
      });
    });
    return keys;
  }

  function buildPOOptionMap(data) {
    var map = {};
    $.each(data || [], function (i, row) {
      if (!row || !row.endUser || !row.port) {
        return;
      }
      var key = getEndUserPortKey(row.endUser, row.port);
      if (!map[key]) {
        map[key] = [];
      }
      map[key].push(row);
    });
    return map;
  }

  function getPOOptionsBatch(rows, callback) {
    var keys = buildPOBatchKeys(rows);
    poOptionMap = {};

    if (keys.length == 0) {
      callback();
      return;
    }

    $.ajax({
      type: "POST",
      url: "././module/RPT_OrderProcessing/data.php",
      dataType: "json",
      data: {
        load: "GetEndUserPortCustPOBatch",
        keys: JSON.stringify(keys)
      },
      success: function (data) {
        poOptionMap = buildPOOptionMap(data);
        callback();
      },
      error: function () {
        poOptionMap = {};
        callback();
      }
    });
  }

  function renderEndUserPortReport(data) {
    if ($.fn.DataTable.isDataTable("#tblEndUserPortReport")) {
      $("#tblEndUserPortReport").DataTable().clear().destroy();
    }

    $("#tblEndUserPortReport").dataTable({
      aaData: data,
      paging: false,
      fixedHeader: true,
      destroy: true,
      processing: true,
      autoWidth: false,
      scrollY: "65vh",
      scrollCollapse: true,
      scrollX: true,
      searching: false,
      info: false,
      select: false,
      columns: [
        { data: "endUser" },
        { data: "Uf_transport_type" },
        { data: "Port" },
        { data: "balanceBDL", className: "text-center" },
        {
          data: "balanceMT",
          className: "text-right",
          render: function (data, type, row) {
            return parseEndUserReportNumber(data).toFixed(2);
          }
        },
        { data: "ReadyBundle", className: "text-center" },
        {
          data: "ReadyBundleMT",
          className: "text-right",
          render: function (data, type, row) {
            return parseEndUserReportNumber(data).toFixed(2);
          }
        },
        {
          data: "no_cont40",
          className: "text-center",
          render: function (data, type, row, meta) {
            return renderBookContInput(data, type, row, meta, "no_cont40");
          }
        },
        {
          data: "po_40",
          className: "text-center",
          render: function (data, type, row, meta) {
            return renderPOSelect(data, type, row, meta, "po_40");
          }
        },
        {
          data: "no_cont45",
          className: "text-center",
          render: function (data, type, row, meta) {
            return renderBookContInput(data, type, row, meta, "no_cont45");
          }
        },
        {
          data: "po_45",
          className: "text-center",
          render: function (data, type, row, meta) {
            return renderPOSelect(data, type, row, meta, "po_45");
          }
        },
        {
          data: "BULK",
          className: "text-center",
          render: function (data, type, row, meta) {
            return renderBookContInput(data, type, row, meta, "BULK");
          }
        },
        {
          data: "po_bulk",
          className: "text-center",
          render: function (data, type, row, meta) {
            return renderPOSelect(data, type, row, meta, "po_bulk");
          }
        }
      ],
      drawCallback: function () {
        initPOSelects();
      },
      dom:
        "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
        "<'row'<'col-md-12'tr>>" +
        "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
      buttons: [
        {
          extend: "print",
          text: "<i class='fa fa-print'></i>&nbsp;Print",
          title: "",
        },
        {
          extend: "excel",
          footer: true,
          text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
          title: "Report Order Processing End User Port Summary " + moment().format("DD-MM-YYYY HH:mm:ss"),
          exportOptions: {
            orthogonal: "export",
            format: {
              body: exportEndUserCell
            }
          },
          customizeData: function (data) {
            syncPOSelectsToRows();
            var table = $("#tblEndUserPortReport").DataTable();
            var exportRows = table.rows({ search: "applied", order: "applied" }).data().toArray();
            $.each(data.body || [], function (i, row) {
              var rowData = exportRows[i] || {};
              row[8] = formatPOExport(rowData.po_40);
              row[10] = formatPOExport(rowData.po_45);
              row[12] = formatPOExport(rowData.po_bulk);
            });
          }
        },
      ]
    });

    initPOSelects();
  }

  function ReportEndUserPortSearch() {
    var oldHtml = $("#btnSearchEndUserPort").html();
    var endUser = $("#endUser_enduser").val();
    var transport = $("#transport_enduser").val();
    var port = $("#port_enduser").val();
    var custpo = $("#custpo_enduser").val();
    var orderdate = $("#orderdate_enduser").val();
    var item = $("#item_enduser").val();

    $("#btnSearchEndUserPort").html("<i class='fa fa-spinner fa-spin'></i>");
    $("#tblEndUserPortReport").loading();

    $.ajax({
      type: "GET",
      url: "././module/RPT_OrderProcessing/data.php",
      dataType: "json",
      data: {
        load: "STS_EX_order_EndUserPort",
        endUser: endUser,
        transport: transport,
        port: port,
        custpo: custpo,
        orderdate: orderdate,
        item: item
      },
      success: function (data) {
        getPOOptionsBatch(data, function () {
          renderEndUserPortReport(data);
          $("#tblEndUserPortReport").loading("stop");
          $("#btnSearchEndUserPort").html(oldHtml);
        });
      },
      error: function (e) {
        $("#tblEndUserPortReport").loading("stop");
        $("#btnSearchEndUserPort").html(oldHtml);
        console.log("There was an error with your request...");
        console.log("error: " + JSON.stringify(e));
      },
    });
  }

  function getPOSelectValue(tr, fieldName) {
    return (tr.find('.txt-po-select[data-field="' + fieldName + '"]').val() || []).join(",");
  }

  $(document).on("change", "#tblEndUserPortReport .txt-book-cont, #tblEndUserPortReport .txt-po-select", function () {
    var input = $(this);
    if (input.data("initializing")) {
      return;
    }

    var tr = input.closest("tr");
    var noCont40 = tr.find('.txt-book-cont[data-field="no_cont40"]').val();
    var noCont45 = tr.find('.txt-book-cont[data-field="no_cont45"]').val();
    var bulk = tr.find('.txt-book-cont[data-field="BULK"]').val();
    var poBulk = getPOSelectValue(tr, "po_bulk");
    var po40 = getPOSelectValue(tr, "po_40");
    var po45 = getPOSelectValue(tr, "po_45");
    var table = $("#tblEndUserPortReport").DataTable();
    var rowData = table.row(tr).data();

    if ((noCont40 !== "" && (parseInt(noCont40, 10) < 0 || parseInt(noCont40, 10) > 255)) ||
      (noCont45 !== "" && (parseInt(noCont45, 10) < 0 || parseInt(noCont45, 10) > 255)) ||
      (bulk !== "" && (parseInt(bulk, 10) < 0 || parseInt(bulk, 10) > 255))) {
      input.css("background-color", "#f8d7da");
      alert("No Cont / BULK ต้องอยู่ระหว่าง 0-255");
      return false;
    }

    if (rowData) {
      rowData.no_cont40 = noCont40;
      rowData.no_cont45 = noCont45;
      rowData.BULK = bulk;
      rowData.po_bulk = poBulk;
      rowData.po_40 = po40;
      rowData.po_45 = po45;
    }

    input.css("background-color", "#fff3cd");

    $.ajax({
      type: "POST",
      url: "././module/RPT_OrderProcessing/data.php",
      dataType: "json",
      data: {
        load: "SaveExBookCont",
        endUser: input.data("end-user"),
        port: input.data("port"),
        no_cont40: noCont40,
        no_cont45: noCont45,
        bulk: bulk,
        po_bulk: poBulk,
        po_40: po40,
        po_45: po45
      },
      success: function (res) {
        if (res && res.status == "success") {
          input.css("background-color", "#d4edda");
          setTimeout(function () {
            input.css("background-color", "");
          }, 2000);
        } else {
          input.css("background-color", "#f8d7da");
        }
      },
      error: function () {
        input.css("background-color", "#f8d7da");
      }
    });
  });
</script>
