<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
</head>
<div>
     <div style="margin-top: 10px; margin-bottom: 20px;">
      <h1 class="my-header">Check QTY ON HAND</h1>
</div>
    <div class="col-xs-12">
        <div class='row'>
            <div class='col-xs-6'>
                <div class='col-xs-5' style="text-align: right"><label>Item</label></div>
                <div class='col-xs-6'>

                    <input class='form-control' type="text" id="item" value="" />
                </div>
                <div class='col-xs-1' style='margin-bottom: 0px; text-align: center'>
                    <button onclick="QtyOnHand()" class="btn btn-info">Process</button> 
                </div>
            </div>
        </div>
        <div class='row'>
            <table class="table table-condensed table-bordered table-striped" id="tblQtyOnHand" >
                <thead>
                    <tr>
                        <td>ITEM</td>
                        <td>sum(qty on hand) of material transaction</td>
                        <td>itemloc_mst</td>
                        <td>sum(qty on hand) of item location</td>
                        <td>sum(qty on hand) of lot location</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="ProductModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:95%;">
        <div class="modal-content">
            <div class="modal-header" style="padding:3px">
                <h3 style="margin: 0;">Delivery Order Line
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:red;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h3>
            </div>
            <div class="modal-body" id="BodyModal2">

            </div>
        </div>
    </div>
</div>



<script>

    function openModal(item) {
        var Url = "template/RPT_JOB_ITEM_PRODUCT_LINE/index2.html";
        var modalBodyId = "#BodyModal2";
        var modalId = "#ProductModal";
        $(modalId).modal("show");
        $(modalBodyId).empty();
        $(modalBodyId).load(Url);
        setTimeout(function () {
            $("#item_detail").val(item);
            calItem();
        }, 1000)

    }


    var url = '././module/RPT_JOB_ITEM_PRODUCT_LINE/data.php';


    function QtyOnHand() {
        let item = $('#item').val();
        $.ajax({
            type: 'GET',
            url: url,
            contentType: "text/plain",
            dataType: 'json',
            beforeSend: function () {
            },
            data: {
                load: 'QtyOnHand',
                item: item,
            },

            success: function (data) {
                console.log(data)
                var RowFooterBuild = "";
                var ColBuild = "";
                var ColCount = 5;
                var i = 0;
                RowFooterBuild = "<tfoot><tr>!!ColBuild!!</tr></tfoot>";
                for (i = 1; i <= ColCount; i++) {
                    ColBuild += "<td></td>";
                }
                $('#tblQtyOnHand').append(RowFooterBuild.replace("!!ColBuild!!", ColBuild));
                $('#tblQtyOnHand').dataTable({
                    scrollY: 200,
                    "paging": false,
                    "aaData": data,
                    "searching": false,
                    "bInfo": false,
                    destroy: true,
                    "columns": [
                        {
                            data: {item: "item"},
                            "className": "text-left",
                            "render": function (data, type, row, meta) {
                                var ret = `<a onclick=openModal('${data.item}'); >${data.item}</a>`;
                                return ret;
                            }
                        },
                        {
                            "data": "sum_matlrans",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": "itemloc_mst_qty_on_hand",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": "sum_itemloc",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                        {
                            "data": "sum_lot_loc",
                            "className": "text-right",
                            "render": function (data, type, row, meta) {
                                var ret = formatMoney(data);
                                return ret;
                            }
                        },
                    ],
                    'dom': "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                            "<'row'<'col-md-12'tr>>" +
                            "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
                    buttons: [
                        {
                            extend: 'excel',
                            footer: true,
                            text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                            title: 'รายงาน inv item ' + GetCurrDateTime()
                        },
                    ],
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(),
                                data;
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                        };
                        console.log(api);
                        var total1 = api
                                .column(1)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                                
                                var total2 = api
                                .column(2)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                                var total3 = api
                                .column(3)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                                var total4 = api
                                .column(4)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                        $(api.column(0).footer()).html("<b>TOTAL</b>");
                        $(api.column(1).footer()).html(addCommas(total1.toFixed(2)));
                        $(api.column(2).footer()).html(addCommas(total2.toFixed(2)));
                        $(api.column(3).footer()).html(addCommas(total3.toFixed(2)));
                        $(api.column(4).footer()).html(addCommas(total4.toFixed(2)));
                    },

                });
            },

            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });
    }


</script>