
<div class="h1 center-block">รายงานค้างส่งต่างประเทศ</div>

<div >
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" >   
            <div class="input-group">
                <div class="input-group-addon">From date</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="txtFromDate_start">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">   
            <div class="input-group">
                <div class="input-group-addon">To date</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="txtFromDate_end">
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">   
            <div class="input-group">
                <div class="input-group-addon">cust po</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="cust_po_ex" >
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">   
            <div class="input-group">
                <div class="input-group-addon">sts po</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="sts_po_ex">
            </div>
        </div>
          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" >   
                <div class="input-group">
                    <button style="align:right" id="btn_search" class="btn btn-info"><i class="fa fa-search"></i>&nbsp;ค้นหา</button>
                </div>
            </div>
    </div>
</div>

<table class="table table-condensed table-bordered table-striped" id="tblCustReport" >
    <thead>
        <tr>
            <th>end user</th>
            <th>cust po</th>
            <th>sts po</th>
            <th>port</th>
            <th>size</th>
            <th>spec</th>
            <th>grade</th>
            <th>Sch.</th>
            <th>Length</th>
            <th>type</th>
            <th>KG</th>
            <th>PCSbundle</th>
            <th>bundle</th>
            <th>shipped</th>
            <th>Balance Bundle</th>
            <th>Balance MT</th>
            <th>ready</th>
            <th>readyMT</th>
            <th>estimate ship</th>
        </tr>
    </thead>
</table>
<script>
    $("#txtFromDate_start , #txtFromDate_end").datepicker({
        dateFormat: 'yy-mm-dd',
    });


    $("#btn_search").click(function () {
        getdata();
    });

    function getdata() {
        var fromDate = $("#txtFromDate_start").val();
        var toDate = $("#txtFromDate_end").val();
        var cust_po = $("#cust_po_ex").val();
        var sts_po = $("#sts_po_ex").val();

        var TableId = "#tblCustReport";
        $.ajax({
            type: 'POST',
            url: "././module/RPTINV_OUTSTANDINGEX/data.php",
            dataType: 'json',
            data: {
                "load": "ajax",
                "fromDate": fromDate,
                "toDate": toDate,
                "cust_po": cust_po,
                "sts_po": sts_po
            },
            success: function (data) {
                $(TableId).DataTable().clear();
                var RowFooterBuild = "";
                var ColBuild = "";
                var ColCount = 10;
                var i = 0;
                for (i = 1; i <= ColCount; i++) {
                    ColBuild += "<td></td>";
                }
                $(TableId).append(RowFooterBuild.replace("!!ColBuild!!", ColBuild));

                $(TableId).dataTable({
                    "aaData": data,
                    "paging": false,
                    "searching": false,
                    "initComplete": function (settings, json) {
                        // ReCalGridAmount();
                    },
                    fixedHeader: true,
                    destroy: true,
                    scrollX: true,
                 
                    scrollCollapse: true,
                    "columns": [
                        {
                            "data": "end_user",
                            className: "text-center"
                        },
                        {
                            "data": "cust_po",
                            className: "text-center"
                        },
                        {
                            "data": "sts_po",
                            className: "text-center"
                        },
                        {
                            "data": "port",
                            className: "text-center"
                        },
                        {
                            "data": "size",
                            className: "text-center"
                        },
                        {
                            "data": "spec",
                            className: "text-center"
                        },
                        {
                            "data": "grade",
                            className: "text-center"
                        },
                        {
                            "data": "schedule",
                            className: "text-center"
                        },
                        {
                            "data": "length",
                            className: "text-center"
                        },
                        {
                            "data": "type",
                            className: "text-center"
                        },
                        {
                            "data": "KG",
                            className: "text-center",
                            render: function (data, type, row) {
                                return parseFloat(data).toFixed(2);
                            }
                        },
                        {
                            "data": "PCSbundle",
                            className: "text-center"
                        },
                        {
                            "data": "bundle",
                            className: "text-center"
                        },
                        {
                            "data": "shipped",
                            className: "text-center"
                        },
                        {
                            "data": "pending",
                            className: "text-center"
                        },
                        {
                            "data": "pendingMT",
                            className: "text-center"
                        },
                        {
                            "data": "ready",
                            className: "text-center"
                        },
                        {
                            "data": "readyMT",
                            className: "text-center"
                        },
                        {
                            "data": "estimate_ship.date",
                            className: "text-center",
                            render: function (data, type, row) {
                                return moment(data).format('DD/MM/YYYY');
                            }
                        },
                    
                    ],
                    'dom': "<'row'<'col-md-5'B><'col-md-7 text-center col-flt-page'lf>>" +
                            "<'row'<'col-md-12'tr>>" +
                            "<'row'<'col-md-5 text-left'i><'col-sm-7 text-center'p>>",
                    buttons: [{
                            extend: 'print',
                            text: "<i class='fa fa-print'></i>&nbsp;Print",
                            title: ''
                        },
                        {
                            extend: 'excel',
                            footer: true,
                            text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                            title: 'รายงาน inv item ' + GetCurrDateTime()
                        },
                    ],
                });
                $(TableId).loading("stop");


                //  Pace.start();

            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });

    }
</script>


