<script type="text/javascript">

    function PrintElem() {
        var mywindow = window.open('', 'PRINT', '');
                var grndata = {grndata};
                var ids = {ids};
                var sts_no = {sts_no};
                var print_type = {print_type};

        mywindow.document.write('<html><head><title>' + document.title + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write(document.getElementById("printTag").innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();
        if (print_type == 0) {
            $.ajax({
                url: "././module/MGT_tag_coil_save.php",
                type: 'post',
                data: {
                    "grndata": grndata,
                    "ids": ids,
                    "sts_no": sts_no
                },
                success: function (data) {
//                    console.log(data);
                    $('#printpopup').dialog('close');
                    if (data == "1") {
                    location.reload(true);
                    } else if (data == "2") {
//                    return false;
                    } else {
                        //popup(data);
                    }
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
                dataType: "json",
            });
        }
    }

</script>

<!--{print_type}<br>
{grndata}-->
<!--{read_ip}
{tag_id}
{grn_data}-->
<form name="formC" method="post" action="" id="formC">
    <table width="100%" border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td align="center"><input name="print_a" type="button" id="print_a" value=" พิมพ์ Tag Barcode " class="ui-button ui-widget ui-corner-all" onClick="PrintElem();"></td>
        </tr>
    </table>

</form>
<hr>
<div id="printTag">
    {printlist}
</div>