<style>
  .col-search {
    padding-left: 3px;
    padding-right: 3px;
  }

  .table thead th {
    text-align: center;
  }

  .col-flt-page {
    padding-top: 10px;
    font-weight: bold;
  }
</style>

<div class="row">
  <h4 class="text-header text-center"></h4>
</div>

<div class="row item-center" style="margin-bottom: 15px;">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="input-group w-full">
      <div style="font-weight: bold; font-size: 16px;" class="input-group-addon">Type *</div>
      <select style="font-weight: bold; font-size: 16px;" class="form-control txt-filter" id="type_customer">
        <option value="amount">Amount (บาท)</option>
        <option value="kg">Kg (กิโลกรัม)</option>
      </select>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="input-group w-full">
      <div style="font-weight: bold; font-size: 16px;" class="input-group-addon">Year</div>
      <select style="font-weight: bold; font-size: 16px;" class="form-control txt-filter" id="sale_year_customer">
      </select>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-left">
    <button class="btn btn-info" id="btnSearchCustomer">
      <i class="fa fa-search"></i>&nbsp; Search
    </button>
  </div>
</div>

<div class="row" id="rowResultTableCustomer" style="padding: 0 15px;">
  <table class="table table-condensed table-bordered table-striped" width="100%" id="tblReportByCustomer">
    <thead>
      <tr>
        <th class="bg-gray text-center" style="width: 50px; min-width: 50px;">#</th>
        <th class="bg-gray text-left" style="width: 100px; min-width: 100px;">Sales Name</th>
        <th class="bg-gray text-left" style="width: 180px; min-width: 180px;">Customer Name</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">JAN</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">FEB</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">MAR</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">APR</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">MAY</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">JUN</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">JUL</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">AUG</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">SEP</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">OCT</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">NOV</th>
        <th class="bg-gray text-right" style="width: 60px; min-width: 60px;">DEC</th>
        <th class="bg-gray text-right" style="width: 80px; min-width: 80px;">TOTAL</th>
      </tr>
    </thead>
    <tfoot>
      <tr style="background-color: #f1f5f9; font-weight: bold;">
        <th></th>
        <th></th>
        <th class="text-right" style="color: #1e293b;">TOTAL:</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right">-</th>
        <th class="text-right" style="color: #0284c7;">-</th>
      </tr>
    </tfoot>
  </table>
</div>

<script type="text/javascript">
  var startYearCust = 2020;
  var currentYearVal = typeof moment !== "undefined" ? moment().year() : new Date().getFullYear();
  var endYearCust = Math.max(currentYearVal, 2026);

  var yearOptions = [];
  for (var y = endYearCust; y >= startYearCust; y--) {
    yearOptions.push('<option value="' + y + '">' + y + '</option>');
  }

  $("#sale_year_customer").append(yearOptions.join(""));
  $("#sale_year_customer").val(currentYearVal);

  $("#btnSearchCustomer").click(function () {
    ReportCustomerSearch();
  });

  var monthsList = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];

  function ReportCustomerSearch() {
    var OldHtml = $("#btnSearchCustomer").html();
    var type = $("#type_customer").val();
    var year = $("#sale_year_customer").val();

    $("#btnSearchCustomer").html("<i class='fa fa-spinner fa-spin'></i>");
    $("#tblReportByCustomer").loading();

    $.ajax({
      type: "GET",
      url: "././module/RPT_SALES_PERSONS/data.php",
      dataType: "json",
      data: {
        load: "GetSalesByCustomer",
        type: type,
        year: year
      },
      success: function (data) {
        if ($.fn.DataTable.isDataTable("#tblReportByCustomer")) {
          $("#tblReportByCustomer").DataTable().destroy();
        }

        $("#tblReportByCustomer tfoot").remove();
        $("#tblReportByCustomer").append(
          "<tfoot><tr style='background-color: #f1f5f9; font-weight: bold;'>" +
          "<th></th>" +
          "<th></th>" +
          "<th class='text-right' style='color: #1e293b;'>TOTAL:</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right'>-</th>" +
          "<th class='text-right' style='color: #0284c7;'>-</th>" +
          "</tr></tfoot>"
        );

        var tableCols = [
          {
            data: null,
            className: "text-center text-nowrap",
            width: "50px",
            render: function (data, type, row, meta) {
              return meta.row + 1;
            }
          },
          {
            data: "name",
            className: "text-left text-nowrap",
            width: "200px",
            render: function (data) {
              return data == null ? "-" : "<b>" + data + "</b>";
            }
          },
          {
            data: "cust_name",
            className: "text-left text-nowrap",
            width: "280px",
            render: function (data) {
              return data == null ? "-" : data;
            }
          }
        ];

        // 12 Months columns
        monthsList.forEach(function (m) {
          tableCols.push({
            data: m,
            className: "text-right text-nowrap",
            width: "110px",
            render: function (val) {
              if (val == null || isNaN(parseFloat(val)) || parseFloat(val) === 0) return "-";
              return typeof addCommas === "function" ? addCommas(parseFloat(val).toFixed(2)) : parseFloat(val).toLocaleString("en-US", { minimumFractionDigits: 2 });
            }
          });
        });

        // Row Total (Sum of 12 months)
        tableCols.push({
          data: null,
          className: "text-right text-nowrap",
          width: "120px",
          render: function (data, type, row) {
            var rowSum = 0;
            monthsList.forEach(function (m) {
              var val = parseFloat(row[m]);
              if (!isNaN(val)) rowSum += val;
            });
            if (rowSum === 0) return "-";
            return "<b>" + (typeof addCommas === "function" ? addCommas(rowSum.toFixed(2)) : rowSum.toLocaleString("en-US", { minimumFractionDigits: 2 })) + "</b>";
          }
        });

        $("#tblReportByCustomer").dataTable({
          aaData: data,
          paging: false,
          fixedHeader: true,
          destroy: true,
          processing: true,
          autoWidth: false,
          scrollY: "65vh",
          scrollCollapse: true,
          scrollX: true,
          columns: tableCols,
          dom:
            "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
            "<'row'<'col-md-12'tr>>" +
            "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
          buttons: [
            {
              extend: "print",
              text: "<i class='fa fa-print'></i>&nbsp;Print",
              title: "",
            },
            {
              extend: "excel",
              footer: true,
              text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
              title: "รายงานยอดขาย By Sales Person By Customer (" + type.toUpperCase() + ") " + (typeof GetCurrDateTime === "function" ? GetCurrDateTime() : ""),
            },
          ],
          footerCallback: function (row, data, start, end, display) {
            var api = this.api();
            var intVal = function (i) {
              return typeof i === 'string'
                ? i.replace(/[\$,]/g, '') * 1
                : typeof i === 'number'
                  ? i
                  : 0;
            };

            var formatNum = function (val) {
              if (val === 0) return "-";
              return typeof addCommas === "function" ? addCommas(val.toFixed(2)) : val.toLocaleString("en-US", { minimumFractionDigits: 2 });
            };

            var grandTotal = 0;
            $(api.column(2).footer()).html("<b>TOTAL:</b>");

            // Columns 3 to 14 correspond to JAN..DEC
            monthsList.forEach(function (m, idx) {
              var colIdx = 3 + idx;
              var totalMonth = api
                .column(colIdx, { search: "applied" })
                .data()
                .reduce(function (a, b) {
                  return intVal(a) + intVal(b);
                }, 0);

              grandTotal += totalMonth;
              $(api.column(colIdx).footer()).html(formatNum(totalMonth));
            });

            // Grand Total column (index 15)
            $(api.column(15).footer()).html("<b>" + formatNum(grandTotal) + "</b>");
          }
        });

        $("#tblReportByCustomer").loading("stop");
        $("#btnSearchCustomer").html(OldHtml);
      },
      error: function (e) {
        $("#tblReportByCustomer").loading("stop");
        $("#btnSearchCustomer").html(OldHtml);
        console.log("Error loading customer sales data:", e);
      }
    });
  }
</script>