
<div class="row">
      <div style="margin-top: 10px; margin-bottom: 20px;">
      <h1 class="my-header">Order Processing</h1>
</div>
    <!--    <div class="col-lg-2" >   
            <div class="input-group">
                <div class="input-group-addon">From Date</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="txtFromDate">
            </div>
        </div>
        <div class="col-lg-2">   
            <div class="input-group">
                <div class="input-group-addon">To date</div>
                <input type="text" autocomplete="off"  class="form-control txt-filter" id="txtToDate">
            </div>
        </div>-->
    <div class="col-lg-2">   
        <div class="input-group">
            <div class="input-group-addon">cust_po</div>
            <input type="text" class="form-control txt-filter" id="cust_po">
        </div>
    </div>
    <div class="col-lg-2">   
        <div class="input-group">
            <div class="input-group-addon">name</div>
            <input type="text" class="form-control txt-filter" id="name">
        </div>
    </div>     
    <div class="col-lg-2">   
        <div class="input-group">
            <div class="input-group-addon">Port</div>
            <input type="text" class="form-control txt-filter" id="Port">
        </div>
    </div>   
    <div class="col-lg-2">   
        <button id="btnSearch" class="btn btn-info"><i class="fa fa-searh"></i>&nbsp;ค้นหา</button>
    </div>
</div>

<div class="row" id="divReport" >
    <table class="table table-condensed table-bordered table-striped" id="tblReport">
        <thead>
            <tr>
                <th>Customer</th>
                <th>PO.No</th>  
                <th>Port</th>
                <th>Size</th>
                <th>Spec</th>
                <th>Grade</th>
                <th>Schedule</th>
                <th>Length</th>
                <th>Type</th>
                <th>PCS/B'dle</th>
                <th>B'dle</th>
                <th>Produced(bundle)</th>
                <th>Short produced</th>
                <th>Balance(bundle)</th>
                <th>Due date</th>
                <th>End customer</th>
                <th>Process</th>
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    $("#txtFromDate,#txtToDate").datepicker({
        dateFormat: 'yy-mm-dd',
    });
    $("#txtFromDate,#txtToDate").val(GetToday());
    $("#btnSearch").click(function () {
        ReportItemSearch();
    });

    function ReportItemSearch() {
      var OldHtml = $("#btnSearch").html();
      var cust_po = $("#cust_po").val();
      var name = $("#name").val();
      var Port = $("#Port").val();

        $("#btnSearch").html("<i class='fa fa-spinner fa-spin'></i>");
        $("#tblReport").loading();
        $("#tblReport tfoot").remove();
        $.ajax({
          type: "POST",
          url: "././module/RPT_OrderProcessing/data.php",
          dataType: "json",
          beforeSend: function () {
            $("#btnSearch").html("<i class='fa fa-spinner fa-spin'>");
          },
          data: {
            load: "V_WebApp_OrderProcessing",
            cust_po: cust_po,
            name: name,
            Port: Port
          },
          success: function (data) {
            $("#tblReport").DataTable().clear();
            $("#tblReport").append(
              "<tfoot><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tfoot>"
            );
            $("#tblReport").dataTable({
              aaData: data,
              paging: false,
              fixedHeader: true,
              destroy: true,
              processing: true,
              scrollY: "65vh",
              scrollCollapse: true,
              scrollX: true,
              select: false,
              columnDefs: [
                 {
                  targets: [6],
                  width: 10,
                },
                 {
                  targets: [8],
                  width: 20,
                },
                 {
                  targets: [14],
                  width: 60,
                },
            
             ],
              columns: [
                 {
            "data": "cust_name",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "cust_po",
            "className": "text-center",
            "render": function (data, type, row, meta) {
                var ret = data;
                return ret;
            }
        },

        {
            "data": "Port",
            "className": "text-right",
            "render": function (data, type, row, meta) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "Size",
            "render": function (data, type, row, meta) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "Spec",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "Grade",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "Schedule",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "Length",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "TypeEnd",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "PcsPerBndl",
            "className": "text-right",
            "render": function (data, type, row) {
                var ret = formatMoney(data);
                return ret;
            }
        },
        {
            "data": "BndlOrdered",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "BndlProduce",
            "className": "text-right",
            "render": function (data, type, row) {
                var ret = formatMoney(data);
                return ret;
            }
        },
        {
            "data": "BalanceBndl",
            "className": "text-right",
            "render": function (data, type, row) {
                var ret = formatMoney(data);
                return ret;
            }
        },
        {
            "data": "end_cust_name",
            "className": "text-right",
            "render": function (data, type, row) {
                var ret = formatMoney(data);
                return ret;
            }
        },
        {
            "data": "due_date",
            "className": "text-right",
            "render": function (data, type, row) {
                if (data != null) {
                    d = formatDate(data);
                } else {
                    d = '-';
                }
                ret = d;
                return ret;

            }
        },

        {
            "data": "end_cust_name",
            "className": "text-right",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
        {
            "data": "Process",
            "render": function (data, type, row) {
                var ret = data;
                return ret;
            }
        },
              ],
              dom:
                "<'row'<'col-md-5'B><'col-md-7 text-right col-flt-page'lf>>" +
                "<'row'<'col-md-12'tr>>" +
                "<'row'<'col-md-5 text-left'i><'col-sm-7 text-right'p>>",
              buttons: [
                {
                  extend: "print",
                  text: "<i class='fa fa-print'></i>&nbsp;Print",
                  title: "",
                },
                {
                  extend: "excel",
                  footer: true,
                  text: "<i class='fa fa-file-excel'></i>&nbsp;Excel",
                  title:
                    "Report Order Processing " + moment().format("DD-MM-YYYY HH:mm:ss"),
                },
              ]
            });
  
            $("#tblReport").loading("stop");
            $("#btnSearch").html(OldHtml);
          },
          error: function (e) {
            $("#tblReport").loading("stop");
            $("#btnSearch").html(OldHtml);
            console.log("There was an error with your request...");
            console.log("error: " + JSON.stringify(e));
          },
        });
      }

</script>
