<div class="row" style="border-bottom:solid 1px orange;">
    <div class="col-md-3 text-center" style="background-color:orange;color:#FFFFFF;">
        <h3>Match Weightlist to AX </h3>
    </div>
    <div class="col-md-2 text-right" style="padding-top:15px;">
        Select Excel file : 
    </div>
    <div class="col-md-2" style="padding-top:15px;">
        <input type="file" id="files" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </div>
    <div class="col-md-2 text-right" style="padding-top:15px;">
        Select Sheet : 
    </div>
    <div class="col-md-2 text-right" style="padding-top:15px;">
        <select class='form-control' onchange="SelectExcel();" id='sheet_name'>
            <option value="">... Please select ...</option>
        </select>
    </div>
    <div class="col-md-1 text-right" style="padding-top:15px;">
        <a id="btnImport" class="btn btn-info form-control">IMPORT</a>
    </div>
</div>
<div  id="ReaderExcel" style="height:400px;overflow-y:auto;">
</div>
<script type="text/javascript">
    $('#files').change(function (e) {
        $('#ReaderExcel').empty();
//        var workbook = XLSX.readFile('original.xlsx'); // parse the file
//        var sheet = workbook.Sheets[workbook.SheetNames[0]]; // get the first worksheet

        var sheet_name = $("#sheet_name").val();
        $('#ReaderExcel').empty();
        var reader = new FileReader();
        reader.readAsArrayBuffer(e.target.files[0]);
        reader.onload = function (e) {
            var data = new Uint8Array(reader.result);
            var wb = XLSX.read(data, {type: 'array'});
            var sheetcount = wb.SheetNames.length;
            var i = 0;
            $("#sheet_name").empty();
            $("#sheet_name").append('<option value="">... Please select ...</option>');
            for (i = 0; i < sheetcount; i++) {
                $("#sheet_name").append('<option value="' + wb.SheetNames[i] + '">' + wb.SheetNames[i] + '</option>');
            }
        }
    });
    function SelectExcel() {
        var getPoNum = "";
        var files_input = document.getElementById("files");
        var file = files_input.files[0];


        if (!file) {
            $.alert({
                title: 'Can not import excel file !',
                content: "Please select excel file"
            });
            return false;
        }
        var sheet_name = $("#sheet_name").val();
        var file_name = $('#files').val().replace(/C:\\fakepath\\/i, '')

        $("#tmpXlsSheet").val(sheet_name);
        $("#tmpXlsFile").val(file_name);
        var reader = new FileReader();

        reader.readAsArrayBuffer(file);
        reader.onload = function (e) {
            var data = new Uint8Array(reader.result);
            try {
                var wb = XLSX.read(data, {type: 'array'});
                var htmlstr = XLSX.write(wb, {sheet: sheet_name, type: 'binary', bookType: 'html'});
                $('#ReaderExcel').empty();
                $('#ReaderExcel')[0].innerHTML += htmlstr;
                $('#ReaderExcel table').addClass('table table-striped table-bordered table-condensed');

                var import_form = $("#use_form").val();

                var headCount = 0;
                var flagRemoveFooterFrom = 0;
                var flagRemoveFooterFrom2 = 0;
                var flagRemoveFooterFrom3 = 0;
                var flagRemoveNameCol1 = [];
                var flagRemoveBlankRow = [];
                var flagTotalRow = [];


            } catch (err) {
                $.alert({
                    title: 'Can not import excel file !',
                    content: err,
                });
            }
//            ImportExcel()
        }
    }
</script>