<div style="overflow-y: 520px;padding-right: 5vw;" class="container-modal">
    <div  class="row" >
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right form-label-row">
            <font color="red">*</font>&nbsp;item
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <input type="text" id="itemSizeh" class="form-control" value="">
            <span id="itemSizehReq" class="text-danger" hidden>กรุณากรอก item</span>
            <span id="txtUserNameDup" class="text-danger" hidden>ขออภัย ชื่อนี้มีอยู่ในระบบแล้ว </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right form-label-row">
            <font color="red">*</font>&nbsp;inch 
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <input placeholder="" autocomplete="on" type="text" id="inch" class="form-control" value="">
            <span id="inchReq" class="text-danger" hidden>กรุณากรอก inch</span>
            <span id="txtUserNameDup" class="text-danger" hidden>ขออภัย ชื่อนี้มีอยู่ในระบบแล้ว </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right form-label-row">
            <font color="red">*</font>&nbsp;MM
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <input  placeholder="" type="text" id="MM" class="form-control" value="">
            <span  id="MMReq" class="text-danger" hidden>กรุณากรอก MM</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right form-label-row">
            <font color="red">*</font>&nbsp;SIZEH
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <input  placeholder="" type="text" id="SIZEH" class="form-control" value="">
            <span  id="SIZEHReq" class="text-danger" hidden>กรุณากรอก SIZEH</span>
        </div>
    </div>
    <br>
    <div class="modal-footer">
        <button  type="button" class="btn btn-success" id="btn_addSizeh">&nbsp;Add&nbsp;</button>
        <button  type="button" class="btn btn-warning" id="btn_editSizeh" disabled>&nbsp;Edit&nbsp;</button>
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
    </div>
</div>

<script type="text/javascript">

    $("#btn_addSizeh").one("click", function () {
        SaveItem('Insert');
    });
    $("#btn_editSizeh").one("click", function () {
        SaveItem('Update');
    });
    
    function SaveItem(form) {
        console.log("action :" + form);
        if ($("#itemSizeh").val() == "") {
            $("#itemSizehReq").show();
        }
        if ($("#inch").val() == "") {
            $("#inchReq").show();
        }
        if ($("#MM").val() == "") {
            $("#MMReq").show();
        }
         if ($("#SIZEH").val() == "") {
            $("#SIZEHReq").show();
        }
        if ($("#itemSizeh").val() == "" || $("#inch").val() == "" || $("#MM").val() == "" || $("#SIZEH").val() == "") {
            return false;
        } else {
            var itemSizeh = $("#itemSizeh").val();
            if (form == "Update") {
                var saveStat = "Update"
            } else {saveStat = "Insert"} 
            var inch = $("#inch").val();
            var MM = $("#MM").val();
            var SIZEH = $("#SIZEH").val();
            $.ajax({
                type: 'POST',
                url: "./module/RPT_NEW_INVENTORY_BALANCE_InvoiceAD_IN/data.php",
                data: {
                    load: 'SaveitemSizeh',
                    itemSizeh: itemSizeh,
                    inch: inch,
                    MM: MM,
                    SIZEH: SIZEH,
                    saveStat: saveStat,
                },
                success: function (result) {
                    $.confirm({
                        title: 'บันทึกข้อมูลสำเร็จ ',
                        theme: 'modern',
                        buttons: {
                            confirm: function () {
                                Search();
                            },
                        }
                    });
                }
            });
        }
    }
    
//============ Start Check Dupicate ==============================
    // $("#spec").change(function () {
    //     var spec = $("#spec").val();
    //     CheckDupUserName(spec)
    // });
    // function CheckDupUserName(spec) {
    //     $("#hdDupUserName").val("0");
    //     $.ajax({
    //         url: "./module/User.php",
    //         type: 'post',
    //         data: {
    //             ajax: 'true',
    //             action: "CheckUserNameDup",
    //             username: spec,
    //         },
    //         success: function (data) {
    //             console.log(data);
    //             $("#hdDupUserName").val(data);
    //             if (data > 0) {
    //                 $("#txtUserNameDup").show();
    //                 $("#btn_save").prop("disabled", true);
    //             } else {
    //                 $("#txtUserNameDup").hide();
    //                 $("#btn_save").prop("disabled", false);
    //             }
    //         },
    //         error: function (xhr, status, error) {
    //             var err = eval("(" + xhr.responseText + ")");
    //             $("#debug").html(error);
    //         }
    //     });
    // }
    //============ End Check Dupicate ==============================

</script>