<div class="row" style="border-bottom:solid 1px #e6e4e4;">
    <div class="col-md-2 text-left" >
        <h4>BOM Import&nbsp;&nbsp;>&nbsp;&nbsp;List</h4>
    </div>
    <div class="col-md-7 text-right" >
    </div>
    <div class="col-md-3 text-right" >
        <a href="?BIP/BOMImport&get_action=add" id="btnCreate" class="btn btn-info">CREATE</a>
    </div>
</div>
<div class="row">
    <div class="col-md-2 "></div>
</div>
<div class="row">
    <table class="table table-striped table-condensed"  >
        <thead>
            <tr>
                <th>trans_no</th>
                <th>date time</th>
                <th>xls file</th>
                <th>xls sheet</th>
                <th>Item count</th>
            </tr>
        </thead>
        <tbody>
<!--            {table_content}-->
        </tbody>
    </table>
</div>

<script type="text/javascript">

</script>